gdtf.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- updated to 0.88 + robe attributes-->
  <xs:element name="GDTF">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="FixtureType"/>
      </xs:sequence>
      <xs:attribute name="DataVersion" type="dataversion" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="FixtureType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" ref="AttributeDefinitions"/>
        <xs:element minOccurs="0" ref="Wheels"/>
        <xs:element minOccurs="0" ref="PhysicalDescriptions"/>
        <xs:element minOccurs="0" ref="Models"/>
        <xs:element minOccurs="1" ref="Geometries"/>
        <xs:element minOccurs="1" ref="DMXModes"/>
        <xs:element minOccurs="0" ref="Revisions"/>
        <xs:element minOccurs="0" ref="FTPresets"/>
        <xs:element minOccurs="0" ref="Protocols"/>
      </xs:sequence>
      <xs:attribute name="Name" type="nametype" use="required"/>
      <xs:attribute name="ShortName" type="xs:string" use="optional"/>
      <xs:attribute name="LongName" type="xs:string" use="optional"/>
      <xs:attribute name="Manufacturer" type="xs:string" use="required"/>
      <xs:attribute name="Description" type="xs:string" use="required"/>
      <xs:attribute name="FixtureTypeID" type="guidtype" use="required"/>
      <xs:attribute name="Thumbnail" type="xs:string" use="optional"/>
      <xs:attribute name="RefFT" type="guidtype" use="optional"/>
      <xs:attribute name="CanHaveChildren" type="YesNoEnum" use="optional" default="Yes"/>
    </xs:complexType>
    <xs:keyref name="AttributeKeyReference" refer="UniqueAttribute">
      <xs:selector xpath=".//LogicalChannel|.//ChannelFunction" />
      <xs:field xpath="@Attribute" />
    </xs:keyref>
    <xs:keyref name="FilterKeyReference" refer="UniqueFilter">
      <xs:selector xpath="Wheels/Wheel/Slot" />
      <xs:field xpath="@Filter" />
    </xs:keyref>
    <xs:keyref name="ModelKeyReference" refer="UniqueModel">
      <xs:selector xpath=".//Geometry|.//Axis|.//FilterBeam|.//FilterColor|.//FilterGobo|.//FilterShaper|
      .//Beam|.//MediaServerLayer|.//MediaServerCamera|.//MediaServerMaster|.//Display|.//GeometryReference"/>
      <xs:field xpath="@Model"/>
    </xs:keyref>
  </xs:element>
  <xs:element name="Wheels">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="Wheel"/>
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="UniqueWheelName">
      <xs:selector xpath="Wheel"/>
      <xs:field xpath="@Name"/>
    </xs:unique>
  </xs:element>
  <xs:element name="Wheel">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="Slot"/>
      </xs:sequence>
      <xs:attribute name="Name" type="nametype" use="optional"/>
    </xs:complexType>
    <xs:unique name="UniqueSlotName">
      <xs:selector xpath="Slot"/>
      <xs:field xpath="@Name"/>
    </xs:unique>
  </xs:element>
  <xs:element name="Slot">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="1">
        <xs:element ref="Facet" minOccurs="1" maxOccurs="unbounded"/>
        <xs:element ref="AnimationSystem"/>
      </xs:choice>
      <xs:attribute name="Name" type="nametype" use="required"/>
      <xs:attribute name="Color" type="colorcietype" use="optional" default="0.3127,0.3290,100.0"/>
      <xs:attribute name="Filter" type="nametype" use="optional"/>
      <xs:attribute name="MediaFileName" type="xs:string" use="optional" default=""/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Facet">
    <xs:complexType>
      <xs:attribute name="Color" type="colorcietype" use="optional" default="0.3127,0.3290,100.0"/>
      <xs:attribute name="Rotation" type="rotationtype" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnimationSystem">
    <xs:complexType>
      <xs:attribute name="P1" type="twoarray" use="required"/>
      <xs:attribute name="P2" type="twoarray" use="required"/>
      <xs:attribute name="P3" type="twoarray" use="required"/>
      <xs:attribute name="Radius" type="positivefloat" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Models">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="Model"/>
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="UniqueModel">
      <xs:selector xpath="Model"/>
      <xs:field xpath="@Name"/>
    </xs:unique>
  </xs:element>
  <xs:element name="Model">
    <xs:complexType>
      <xs:attribute name="Name" type="nametype" use="required"/>
      <xs:attribute name="Length" type="xs:float" use="optional" default="0"/>
      <xs:attribute name="Width" type="xs:float" use="optional" default="0"/>
      <xs:attribute name="Height" type="xs:float" use="optional" default="0"/>
      <xs:attribute name="PrimitiveType" type="PrimitiveTypeEnum" use="optional" default="Undefined"/>
      <xs:attribute name="File" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:group name="GeometryChildren">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="Geometry"/>
        <xs:element ref="Axis"/>
        <xs:element ref="FilterBeam"/>
        <xs:element ref="FilterColor"/>
        <xs:element ref="FilterGobo"/>
        <xs:element ref="FilterShaper"/>
        <xs:element ref="Beam"/>
        <xs:element ref="MediaServerLayer"/>
        <xs:element ref="MediaServerCamera"/>
        <xs:element ref="MediaServerMaster"/>
        <xs:element ref="Display"/>
        <xs:element ref="GeometryReference"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:element name="Geometries">
    <xs:complexType>
      <xs:group ref="GeometryChildren"/>
    </xs:complexType>
    <xs:unique name="UniqueGeometriesChildren">
      <xs:selector xpath="*"/>
      <xs:field xpath="@Name"/>
    </xs:unique>
  </xs:element>
  <xs:complexType name="BasicGeometryAttributes">
    <xs:attribute name="Name" type="nametype" use="required"/>
    <xs:attribute name="Model" type="nametype" use="optional"/>
    <xs:attribute name="Position" type="matrixtype" use="optional" default="{1,0,0,0}{0,1,0,0}{0,0,1,0}{0,0,0,1}"/>
  </xs:complexType>
  <xs:complexType name="BasicGeometryType">
    <xs:complexContent>
      <xs:extension base="BasicGeometryAttributes">
        <xs:group ref="GeometryChildren"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Geometry" type="BasicGeometryType">
    <xs:unique name="UniqueGeometryChildren">
      <xs:selector xpath="*"/>
      <xs:field xpath="@Name"/>
    </xs:unique>
  </xs:element>
  <xs:element name="Axis" type="BasicGeometryType">
    <!-- Model attribute is missing in DIN 15800:2020-07 (GDTF 1.1) but still appears in the Wiki (GDTF 1.0). 
    Might be a typo in the DIN standard, since it would break backwards compatibility. Therefore, I still allow it here. -->
    <xs:unique name="UniqueAxisChildren">
      <xs:selector xpath="*"/>
      <xs:field xpath="@Name"/>
    </xs:unique>
  </xs:element>
  <xs:element name="FilterBeam" type="BasicGeometryType">
    <xs:unique name="UniqueFilterBeamChildren">
      <xs:selector xpath="*"/>
      <xs:field xpath="@Name"/>
    </xs:unique>
  </xs:element>
  <xs:element name="FilterColor" type="BasicGeometryType">
    <xs:unique name="UniqueFilterColorChildren">
      <xs:selector xpath="*"/>
      <xs:field xpath="@Name"/>
    </xs:unique>
  </xs:element>
  <xs:element name="FilterGobo" type="BasicGeometryType">
    <xs:unique name="UniqueFilterGoboChildren">
      <xs:selector xpath="*"/>
      <xs:field xpath="@Name"/>
    </xs:unique>
  </xs:element>
  <xs:element name="FilterShaper" type="BasicGeometryType">
    <xs:unique name="UniqueFilterShaperChildren">
      <xs:selector xpath="*"/>
      <xs:field xpath="@Name"/>
    </xs:unique>
  </xs:element>
  <xs:element name="Beam">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="BasicGeometryType">
          <xs:attribute name="LampType" type="LampTypeEnum" use="optional" default="Discharge"/>
          <xs:attribute name="PowerConsumption" type="xs:float" use="optional" default="1000"/>
          <xs:attribute name="LuminousFlux" type="xs:float" use="optional" default="10000"/>
          <xs:attribute name="ColorTemperature" type="xs:float" use="optional" default="6000"/>
          <xs:attribute name="BeamAngle" type="xs:float" use="optional" default="25"/>
          <xs:attribute name="FieldAngle" type="xs:float" use="optional" default="25"/>
          <xs:attribute name="ThrowRatio" type="xs:float" use="optional" default="1"/>
          <xs:attribute name="RectangleRatio" type="xs:float" use="optional" default="1.7777"/>
          <xs:attribute name="BeamRadius" type="xs:float" use="optional" default="0.05"/>
          <xs:attribute name="BeamType" type="BeamTypeEnum" use="optional" default="Wash"/>
          <xs:attribute name="ColorRenderingIndex" type="xs:unsignedByte" use="optional" default="100"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:unique name="UniqueBeamChildren">
      <xs:selector xpath="*"/>
      <xs:field xpath="@Name"/>
    </xs:unique>
  </xs:element>
  <xs:element name="MediaServerLayer" type="BasicGeometryType">
    <xs:unique name="UniqueMediaServerLayerChildren">
      <xs:selector xpath="*"/>
      <xs:field xpath="@Name"/>
    </xs:unique>
  </xs:element>
  <xs:element name="MediaServerCamera" type="BasicGeometryType">
    <xs:unique name="UniqueMediaServerCameraChildren">
      <xs:selector xpath="*"/>
      <xs:field xpath="@Name"/>
    </xs:unique>
  </xs:element>
  <xs:element name="MediaServerMaster" type="BasicGeometryType">
    <xs:unique name="UniqueMediaServerMasterChildren">
      <xs:selector xpath="*"/>
      <xs:field xpath="@Name"/>
    </xs:unique>
  </xs:element>
  <xs:element name="Display">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="BasicGeometryType">
          <xs:attribute name="Texture" type="xs:string" use="optional"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:unique name="UniqueDisplayChildren">
      <xs:selector xpath="*"/>
      <xs:field xpath="@Name"/>
    </xs:unique>
  </xs:element>
  <xs:element name="GeometryReference">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="BasicGeometryAttributes">
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Break"/>
          </xs:sequence>
          <xs:attribute name="Geometry" type="nametype" use="required"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Break">
    <xs:complexType>
      <xs:attribute name="DMXOffset" type="dmxaddresstype" use="optional" default="1"/>
      <xs:attribute name="DMXBreak" type="xs:unsignedByte" use="optional" default="1"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMXModes">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="DMXMode"/>
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="UniqueDMXModeName">
      <xs:selector xpath="DMXMode"/>
      <xs:field xpath="@Name"/>
    </xs:unique>
  </xs:element>
  <xs:element name="DMXMode">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="DMXChannels"/>
        <xs:element ref="Relations" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="FTMacros" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="Name" type="nametype" use="required"/>
      <xs:attribute name="Geometry" type="nametype" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMXChannels">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="DMXChannel"/>
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="UniqueAttributeinGeometry">
      <xs:selector xpath="DMXChannel"/>
      <xs:field xpath="@Geometry"/>
      <xs:field xpath="LogicalChannel/@Attribute"/>
    </xs:unique>
  </xs:element>
  <xs:element name="DMXChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="LogicalChannel"/>
      </xs:sequence>
      <xs:attribute name="Name" type="nametype" use="optional"/>
      <xs:attribute name="DMXBreak" type="xs:integer" use="optional"/>
      <xs:attribute name="Offset" type="offsettype" use="optional"/>
      <!--reworked in 1.0      <xs:attribute name="Coarse" type="dmxvalue" use="optional"/>
      <xs:attribute name="Fine" type="dmxvalue" use="optional"/>

      <xs:attribute name="Ultra" type="dmxvalue" use="optional"/>
      <xs:attribute name="Uber" type="dmxvalue" use="optional"/>-->
      <!-- removed in 0.90      <xs:attribute name="Frequency" type="FrequencyEnum" use="optional"/> -->
      <xs:attribute name="Default" type="dmxtype" use="optional"/>
      <xs:attribute name="Highlight" type="dmxtype" use="optional"/>
      <xs:attribute name="Geometry" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogicalChannel">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="ChannelFunction"/>
      </xs:sequence>
      <xs:attribute name="Attribute" type="nametype" use="required"/>
      <xs:attribute name="Snap" type="SnapEnum" use="optional"/>
      <xs:attribute name="Master" type="MasterEnum"/>
      <xs:attribute name="MibFade" type="xs:float" use="optional"/>
      <xs:attribute name="DMXChangeTimeLimit" type="xs:float" use="optional"/>
    </xs:complexType>
    <xs:unique name="UniqueChannelFunctionAttributeAndDMXFrom">
      <xs:selector xpath="ChannelFunction"/>
      <xs:field xpath="@Attribute"/>
      <xs:field xpath="@DMXFrom"/>
      <xs:field xpath="@ModeFrom"/>
    </xs:unique>
    <xs:unique name="UniqueChannelFunction">
      <xs:selector xpath="ChannelFunction"/>
      <xs:field xpath="@Name"/>
    </xs:unique>
  </xs:element>
  <xs:element name="ChannelFunction">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="ChannelSet"/>
      </xs:sequence>
      <xs:attribute name="Name" type="xs:string" use="optional"/>
      <xs:attribute name="Attribute" type="nametype" use="required"/>
      <xs:attribute name="OriginalAttribute" type="xs:string" use="optional"/>
      <xs:attribute name="DMXFrom" type="dmxtype" use="optional"/>
      <xs:attribute name="PhysicalFrom" type="xs:float" use="optional"/>
      <xs:attribute name="PhysicalTo" type="xs:float" use="optional"/>
      <xs:attribute name="RealFade" type="xs:float" use="optional"/>
      <xs:attribute name="Wheel" type="xs:string" use="optional"/>
      <xs:attribute name="Emitter" type="xs:string" use="optional"/>
      <xs:attribute name="Filter" type="xs:string" use="optional"/>
      <!-- removed 1.0      <xs:attribute name="DMXInvert" type="YesNoEnum" use="optional"/> -->
      <!--      <xs:attribute name="EncoderInvert" type="YesNoEnum" use="optional"/>-->
      <xs:attribute name="ModeMaster" type="xs:string" use="optional"/>
      <xs:attribute name="ModeFrom" type="dmxtype" use="optional" default="0/1"/>
      <xs:attribute name="ModeTo" type="dmxtype" use="optional"/>
    </xs:complexType>
    <xs:unique name="UniqueChannelSetNameAndDMXFrom">
      <xs:selector xpath="ChannelSet"/>
      <xs:field xpath="@Name"/>
      <xs:field xpath="@DMXFrom"/>
    </xs:unique>
  </xs:element>
  <xs:element name="ChannelSet">
    <xs:complexType>
      <xs:attribute name="Name" type="xs:string" use="optional"/>
      <xs:attribute name="DMXFrom" type="dmxtype" use="optional"/>
      <xs:attribute name="DMXTo" type="dmxtype" use="optional"/>
      <xs:attribute name="PhysicalFrom" type="xs:float" use="optional"/>
      <xs:attribute name="PhysicalTo" type="xs:float" use="optional"/>
      <!--      <xs:attribute name="RealFade" type="xs:float" use="optional"/> -->
      <xs:attribute name="WheelSlotIndex" type="xs:integer" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Relations">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="Relation"/>
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="UniqueRelationName">
      <xs:selector xpath="Relation"/>
      <xs:field xpath="@Name"/>
    </xs:unique>
  </xs:element>
  <xs:element name="Relation">
    <xs:complexType>
      <xs:attribute name="Name" type="xs:string" use="required"/>
      <xs:attribute name="Master" type="xs:string" use="required"/>
      <xs:attribute name="Follower" type="xs:string" use="required"/>
      <xs:attribute name="Type" type="RelationTypesEnum" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Revisions">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="Revision"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Revision">
    <xs:complexType>
      <xs:attribute name="Text" type="xs:string" use="optional"/>
      <xs:attribute name="Date" type="xs:dateTime" use="optional"/>
      <xs:attribute name="UserID" type="xs:integer" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="FTPresets">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="FTPreset"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FTPreset">
    <xs:complexType/>
  </xs:element>
  <xs:element name="FTMacros">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="FTMacro" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FTMacro">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="MacroDMX" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="MacroVisual" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="Name" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="MacroDMX">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="DMXStep" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMXStep">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="DMXValue" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="Duration" type="xs:integer" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMXValue">
    <xs:complexType>
      <xs:attribute name="Value" type="dmxtype" use="optional"/>
      <xs:attribute name="DMXChannel" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="MacroVisual">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="VisualStep" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VisualStep">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="VisualValue" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="Duration" type="xs:integer" use="optional"/>
      <xs:attribute name="Fade" type="xs:string" use="optional"/>
      <xs:attribute name="Delay" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="VisualValue">
    <xs:complexType>
      <xs:attribute name="Value" type="xs:string" use="optional"/>
      <xs:attribute name="ChannelFunction" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhysicalDescriptions">
    <xs:complexType>
      <xs:all>
        <xs:element ref="Emitters" minOccurs="0"/>
        <xs:element ref="Filters" minOccurs="0"/>
        <xs:element ref="ColorSpace" minOccurs="0"/>
        <xs:element ref="DMXProfiles" minOccurs="0"/>
        <xs:element ref="CRIs" minOccurs="0"/>
        <xs:element ref="Connectors" minOccurs="0"/>
        <xs:element ref="Properties" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
    <xs:keyref name="ConnectorKeyReference" refer="UniqueConnector">
      <xs:selector xpath="Properties/PowerConsumption"/>
      <xs:field xpath="@Connector"></xs:field>
    </xs:keyref>
  </xs:element>
  <xs:element name="Emitters">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="Emitter"/>
      </xs:sequence>
    </xs:complexType>
    <xs:key name="UniqueEmitter">
      <xs:selector xpath="Emitter" />
      <xs:field xpath="@Name" />
    </xs:key>
  </xs:element>
  <xs:element name="Emitter">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="Measurement">
          <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
              <xs:element ref="MeasurementPoint"/>
            </xs:sequence>
            <xs:attribute name="Physical" type="physicaltype" use="required"/>
            <xs:attribute name="LuminousIntensity" type="xs:float" use="required"/>
            <xs:attribute name="InterpolationTo" type="InterpolationToEnum" use="optional" default="Linear"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Name" type="nametype" use="required"/>
      <xs:attribute name="Color" type="colorcietype" use="optional"/>
      <xs:attribute name="DominantWaveLength" type="xs:float" use="optional"/> <!-- Required if Color is omitted! -->
      <xs:attribute name="DiodePart" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Filters">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="Filter"/>
      </xs:sequence>
    </xs:complexType>
    <xs:key name="UniqueFilter">
      <xs:selector xpath="Filter" />
      <xs:field xpath="@Name" />
    </xs:key>
  </xs:element>
  <xs:element name="Filter">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="Measurement">
          <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
              <xs:element ref="MeasurementPoint"/>
            </xs:sequence>
            <xs:attribute name="Physical" type="physicaltype" use="required"/>
            <xs:attribute name="Transmission" type="xs:float" use="required"/>
            <xs:attribute name="InterpolationTo" type="InterpolationToEnum" use="optional" default="Linear"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Name" type="nametype" use="required"/>
      <xs:attribute name="Color" type="colorcietype" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="MeasurementPoint">
    <xs:complexType>
      <xs:attribute name="WaveLength" type="xs:float" use="required"/>
      <xs:attribute name="Energy" type="xs:float" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ColorSpace">
    <xs:complexType>
      <xs:attribute name="Mode" type="ColorSpaceEnum" use="optional" default="sRGB"/>
      <xs:attribute name="Red" type="colorcietype" use="optional"/>
      <xs:attribute name="Green" type="colorcietype" use="optional"/>
      <xs:attribute name="Blue" type="colorcietype" use="optional"/>
      <xs:attribute name="WhitePoint" type="colorcietype" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMXProfiles">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="DMXProfile"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMXProfile">
    <xs:complexType>
    </xs:complexType>
  </xs:element>
  <xs:element name="CRIs">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="CRIGroup"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CRIGroup">
    <xs:complexType>
      <xs:sequence minOccurs="1" maxOccurs="99">
        <xs:element ref="CRI"/>
      </xs:sequence>
      <xs:attribute name="ColorTemperature" type="xs:float" use="optional" default="6000"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="CRI">
    <xs:complexType>
      <xs:attribute name="CES" type="CESEnum" use="optional" default="CES01"/>
      <xs:attribute name="ColorRenderingIndex" type="xs:unsignedByte" use="optional" default="100"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Connectors">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="Connector"/>
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="UniqueConnector">
      <xs:selector xpath="Connector"/>
      <xs:field xpath="@Name"/>
    </xs:unique>
  </xs:element>
  <xs:element name="Connector">
    <xs:complexType>
      <xs:attribute name="Name" type="nametype" use="required"/>
      <xs:attribute name="Type" type="nametype" use="required"/>
      <xs:attribute name="DMXBreak" type="positiveinteger" use="optional" />
      <xs:attribute name="Gender" type="xs:integer" use="optional" default="0"/>
      <xs:attribute name="Length" type="positivefloat" use="optional" default="0"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Properties">
    <xs:complexType>
      <!-- The DIN 15800:2020-07 implicitly allows arbitrary order, but that is not easily representable in XSD 1.0.
        Therefore we restrict order here arbitrarily by using xs:sequence. -->
      <xs:sequence>
        <xs:element ref="OperatingTemperature" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="Weight" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="PowerConsumption" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="LegHeight" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperatingTemperature">
    <xs:complexType>
      <xs:attribute name="Low" type="xs:float" use="optional" default="0"/>
      <xs:attribute name="High" type="xs:float" use="optional" default="40"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Weight">
    <xs:complexType>
      <xs:attribute name="Value" type="xs:float" use="optional" default="0"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PowerConsumption">
    <xs:complexType>
      <xs:attribute name="Value" type="xs:float" use="optional" default="0"/>
      <xs:attribute name="PowerFactor" type="xs:float" use="optional" default="1"/>
      <xs:attribute name="Connector" type="nametype" use="required"/>
      <xs:attribute name="VoltageLow" type="xs:float" use="optional" default="90"/>
      <xs:attribute name="VoltageHigh" type="xs:float" use="optional" default="240"/>
      <xs:attribute name="FrequencyLow" type="xs:float" use="optional" default="50"/>
      <xs:attribute name="FrequencyHigh" type="xs:float" use="optional" default="60"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="LegHeight">
    <xs:complexType>
      <xs:attribute name="Value" type="xs:float" use="optional" default="0"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Protocols">
    <xs:complexType>
      <xs:all>
        <xs:element ref="FTRDM" minOccurs="0" />
        <xs:element ref="Art-Net" minOccurs="0" />
        <xs:element ref="sACN" minOccurs="0" />
        <xs:element ref="KiNET" minOccurs="0" />
        <xs:element ref="PosiStageNet" minOccurs="0" />
        <xs:element ref="OpenSoundControl" minOccurs="0" />
        <xs:element ref="CITP" minOccurs="0" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="Art-Net">
    <xs:complexType/>
  </xs:element>
  <xs:element name="sACN">
    <xs:complexType/>
  </xs:element>
  <xs:element name="KiNET">
    <xs:complexType/>
  </xs:element>
  <xs:element name="PosiStageNet">
    <xs:complexType/>
  </xs:element>
  <xs:element name="OpenSoundControl">
    <xs:complexType/>
  </xs:element>
  <xs:element name="CITP">
    <xs:complexType/>
  </xs:element>
  <xs:element name="FTRDM">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="SoftwareVersionID" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="ManufacturerID" type="xs:string" use="optional"/>
      <xs:attribute name="DeviceModelID" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="SoftwareVersionID">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="DMXPersonality" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="Value" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMXPersonality">
    <xs:complexType>
      <xs:attribute name="Value" type="xs:string" use="optional"/>
      <xs:attribute name="DMXMode" type="nametype" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="AttributeDefinitions">
    <xs:complexType>
      <xs:all>
        <xs:element ref="ActivationGroups" minOccurs="0"/>
        <xs:element ref="FeatureGroups" minOccurs="1"/>
        <xs:element ref="Attributes" minOccurs="1"/>
      </xs:all>
    </xs:complexType>
    <xs:keyref name="ActivationGroupReference" refer="UniqueActivationGroup">
      <xs:selector xpath="Attributes/Attribute" />
      <xs:field xpath="@ActivationGroup" />
    </xs:keyref>
  </xs:element>
  <xs:element name="ActivationGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ActivationGroup" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="UniqueActivationGroup">
      <xs:selector xpath="ActivationGroup"/>
      <xs:field xpath="@Name"/>
    </xs:unique>
  </xs:element>
  <xs:element name="FeatureGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="FeatureGroup" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="UniqueFeatureGroup">
      <xs:selector xpath="FeatureGroup"/>
      <xs:field xpath="@Name"/>
    </xs:unique>
  </xs:element>
  <xs:element name="ActivationGroup">
    <xs:complexType>
      <xs:attribute name="Name" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="FeatureGroup">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="Feature"/>
      </xs:sequence>
      <xs:attribute name="Name" type="xs:string" use="required"/>
      <xs:attribute name="Pretty" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:unique name="UniqueFeature">
      <xs:selector xpath="Feature"/>
      <xs:field xpath="@Name"/>
    </xs:unique>
  </xs:element>
  <xs:element name="Feature">
    <xs:complexType>
      <xs:attribute name="Name" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Attributes">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Attribute" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="UniqueAttribute">
      <xs:selector xpath="Attribute"/>
      <xs:field xpath="@Name"/>
    </xs:unique>
    <xs:keyref name="MainAttributeReference" refer="UniqueAttribute">
      <xs:selector xpath="Attribute" />
      <xs:field xpath="@MainAttribute" />
    </xs:keyref>
  </xs:element>
  <xs:element name="Attribute">
    <xs:complexType>
      <xs:attribute name="Name" type="nametype" use="required"/>
      <xs:attribute name="Pretty" type="xs:string" use="required"/>
      <xs:attribute name="ActivationGroup" type="xs:string" use="optional"/>
      <xs:attribute name="PhysicalUnit" type="PhysicalUnitEnum" default="None"/>
      <xs:attribute name="Color" type="colorcietype" use="optional"/>
      <xs:attribute name="Feature" type="featuretype" use="required"/>
      <!--      <xs:attribute name="Special" type="SpecialEnum" use="optional"/> -->
      <!-- removed in 0.87 -->
      <xs:attribute name="MainAttribute" type="nametype" use="optional"/>
    </xs:complexType>
  </xs:element>
  <!-- Custom types -->
  <xs:simpleType name="positivefloat">
    <xs:restriction base="xs:float">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="positiveinteger">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="physicaltype">
    <xs:restriction base="xs:float">
      <xs:minExclusive value="0"/>
      <xs:maxInclusive value="100"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="twoarray">
    <xs:restriction base="xs:string">
      <xs:pattern value="-?[0-9]+\.?[0-9]*,-?[0-9]+\.?[0-9]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="matrixtype">
    <xs:restriction base="xs:string">
      <xs:pattern value="None|(\{-?[0-9]+\.?[0-9]*(,-?[0-9]+\.?[0-9]*){3}\}){4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="rotationtype">
    <xs:restriction base="xs:string">
      <xs:pattern value="None|(\{-?[0-9]+\.?[0-9]*(,-?[0-9]+\.?[0-9]*){2}\}){3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="colorcietype">
    <xs:restriction base="xs:string">
      <xs:pattern value="None|-?[0-9]+(\.[0-9]+)?,-?[0-9]+(\.[0-9]+)?,-?[0-9]+(\.[0-9]+)?"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="offsettype">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]?,?[0-9]?,?[0-9]?,?[0-9]?,?"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dmxtype">
    <xs:restriction base="xs:string">
      <xs:pattern value="None|[0-9]?[0-9]?[0-9]+/[1-2]"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dmxvalue">
    <xs:restriction base="xs:string">
      <xs:pattern value="None|[0-9]?[0-9]?[0-9]"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dmxaddresstype">
    <!-- DIN 15800:2020-07 also allows Universe.Address, which seems strange though. Which Universe would that even be?
    Therefore, this only matches Integers in the valid range. -->
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="512"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="nametype">
    <xs:restriction base="xs:string">
      <xs:pattern value="([a-zA-Z0-9#%()*+-/:;&lt;=&gt;@_` &quot;'])+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="featuretype">
    <xs:restriction base="xs:string">
      <!-- Two nametype strings, separated with a dot -->
      <xs:pattern value="([a-zA-Z0-9#%()*+-/:;&lt;=&gt;@_` &quot;'])+\.([a-zA-Z0-9#%()*+-/:;&lt;=&gt;@_` &quot;'])+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dataversion">
    <xs:restriction base="xs:float">
      <!-- This matches two Uints, each in the range 0 to 255 (1 Byte), separated by a dot.
      Leading zeros and a plus sign are allowed for the first UInt, but not for the second one -->
      <xs:pattern value="((\+)?(0)*([0-9]{1}[0-9]{0,1}|[1]{1}[0-9]{0,2}|[2]{1}([0-4]{1}[0-9]{1}|[5]{1}[0-5]{1}))).(0+|([1-9]{1}[0-9]{0,1}|[1]{1}[0-9]{0,2}|[2]{1}([0-4]{1}[0-9]{1}|[5]{1}[0-5]{1})))" />
      <xs:minInclusive value="1.0" />
      <xs:maxInclusive value="1.1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="guidtype">
    <xs:restriction base="xs:string">
      <xs:pattern value="\s*|([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- ENUM SECTION -->
  <xs:simpleType name="PhysicalUnitEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None"/>
      <xs:enumeration value="Percent"/>
      <xs:enumeration value="Length"/>
      <xs:enumeration value="Mass"/>
      <xs:enumeration value="Time"/>
      <xs:enumeration value="Temperature"/>
      <xs:enumeration value="LuminousIntensity"/>
      <xs:enumeration value="Angle"/>
      <xs:enumeration value="Force"/>
      <xs:enumeration value="Frequency"/>
      <xs:enumeration value="Current"/>
      <xs:enumeration value="Voltage"/>
      <xs:enumeration value="Power"/>
      <xs:enumeration value="Energy"/>
      <xs:enumeration value="Area"/>
      <xs:enumeration value="Volume"/>
      <xs:enumeration value="Speed"/>
      <xs:enumeration value="Acceleration"/>
      <xs:enumeration value="AngularSpeed"/>
      <xs:enumeration value="AngularAccc"/>
      <xs:enumeration value="WaveLength"/>
      <xs:enumeration value="ColorComponent"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- removed in 0.87  -->
  <!-- <xs:simpleType name="SpecialEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None"/>
      <xs:enumeration value="Dimmer"/>
      <xs:enumeration value="Pan"/>
      <xs:enumeration value="Tilt"/>
      <xs:enumeration value="Color"/>
    </xs:restriction>
</xs:simpleType>
-->
  <xs:simpleType name="MasterEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None"/>
      <xs:enumeration value="Grand"/>
      <xs:enumeration value="Group"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PrimitiveTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined"/>
      <xs:enumeration value="Cube"/>
      <xs:enumeration value="Cylinder"/>
      <xs:enumeration value="Sphere"/>
      <xs:enumeration value="Base"/>
      <xs:enumeration value="Yoke"/>
      <xs:enumeration value="Head"/>
      <xs:enumeration value="Scanner"/>
      <xs:enumeration value="Conventional"/>
      <xs:enumeration value="Pigtail" />
      <xs:enumeration value="Base1_1" />
      <xs:enumeration value="Scanner1_1" />
      <xs:enumeration value="Conventional1_1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LampTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Discharge"/>
      <xs:enumeration value="Tungsten"/>
      <xs:enumeration value="Halogen"/>
      <xs:enumeration value="LED"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BeamTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Wash"/>
      <xs:enumeration value="Spot"/>
      <xs:enumeration value="None"/>
      <xs:enumeration value="Rectangle"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- removed in 0.90  <xs:simpleType name="FrequencyEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="60"/>
      <xs:enumeration value="30"/>
      <xs:enumeration value="15"/>
      <xs:enumeration value="Slow1"/>
      <xs:enumeration value="Slow2"/>
      <xs:enumeration value="Slow3"/>
    </xs:restriction>
      </xs:simpleType>
  -->
  <xs:simpleType name="ColorSpaceEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Custom"/>
      <xs:enumeration value="sRGB"/>
      <xs:enumeration value="ProPhoto"/>
      <xs:enumeration value="ANSI"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="InterpolationToEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Linear"/>
      <xs:enumeration value="Step"/>
      <xs:enumeration value="Log"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SnapEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Yes"/>
      <xs:enumeration value="No"/>
      <xs:enumeration value="On"/>
      <xs:enumeration value="Off"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="YesNoEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Yes"/>
      <xs:enumeration value="No"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RelationTypesEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Multiply"/>
      <xs:enumeration value="Override"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RDMParameterTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RDM"/>
      <xs:enumeration value="FixtureType"/>
      <xs:enumeration value="Fixture"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ThresholdOperatorEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Is"/>
      <xs:enumeration value="IsNot"/>
      <xs:enumeration value="Greater"/>
      <xs:enumeration value="Less"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RDMParameterDataTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DS_NOT_DEFINED"/>
      <xs:enumeration value="DS_BIT_FIELD"/>
      <xs:enumeration value="DS_ASCII"/>
      <xs:enumeration value="DS_UNSIGNED_BYTE"/>
      <xs:enumeration value="DS_SIGNED_BYTE"/>
      <xs:enumeration value="DS_UNSIGNED_WORD"/>
      <xs:enumeration value="DS_SIGNED_WORD"/>
      <xs:enumeration value="DS_UNSIGNED_DWORD"/>
      <xs:enumeration value="DS_SIGNED_DWORD"/>
      <xs:enumeration value="DS_MS"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RDMParameterCommandEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None"/>
      <xs:enumeration value="CC_GET"/>
      <xs:enumeration value="CC_SET"/>
      <xs:enumeration value="CC_GET_SET"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RDMSensorTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SENS_VOLTAGE"/>
      <xs:enumeration value="SENS_CURRENT"/>
      <xs:enumeration value="SENS_FREQUENCY"/>
      <xs:enumeration value="SENS_RESISTANCE"/>
      <xs:enumeration value="SENS_POWER"/>
      <xs:enumeration value="SENS_MASS"/>
      <xs:enumeration value="SENS_LENGTH"/>
      <xs:enumeration value="SENS_AREA"/>
      <xs:enumeration value="SENS_VOLUME"/>
      <xs:enumeration value="SENS_DENSITY"/>
      <xs:enumeration value="SENS_VELOCITY"/>
      <xs:enumeration value="SENS_ACCELERATION"/>
      <xs:enumeration value="SENS_FORCE"/>
      <xs:enumeration value="SENS_ENERGY"/>
      <xs:enumeration value="SENS_PRESSURE"/>
      <xs:enumeration value="SENS_TIME"/>
      <xs:enumeration value="SENS_ANGLE"/>
      <xs:enumeration value="SENS_POSITION_X"/>
      <xs:enumeration value="SENS_POSITION_Y"/>
      <xs:enumeration value="SENS_POSITION_Z"/>
      <xs:enumeration value="SENS_ANGULAR_VELOCITY"/>
      <xs:enumeration value="SENS_LUMINOUS_INTENSITY"/>
      <xs:enumeration value="SENS_LUMINOUS_FLUX"/>
      <xs:enumeration value="SENS_ILLUMINANCE"/>
      <xs:enumeration value="SENS_CHROMINANCE_RED"/>
      <xs:enumeration value="SENS_CHROMINANCE_GREEN"/>
      <xs:enumeration value="SENS_CHROMINANCE_BLUE"/>
      <xs:enumeration value="SENS_CONTACTS"/>
      <xs:enumeration value="SENS_MEMORY"/>
      <xs:enumeration value="SENS_ITEMS"/>
      <xs:enumeration value="SENS_HUMIDITY"/>
      <xs:enumeration value="SENS_COUNTER_16BIT"/>
      <xs:enumeration value="SENS_OTHER"/>
      <xs:enumeration value="SENS_MS"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RDMParameterSensorUnitEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNITS_NONE"/>
      <xs:enumeration value="UNITS_CENTIGRADE"/>
      <xs:enumeration value="UNITS_VOLTS_DC"/>
      <xs:enumeration value="UNITS_VOLTS_AC_PEAK"/>
      <xs:enumeration value="UNITS_VOLTS_AC_RMS"/>
      <xs:enumeration value="UNITS_AMPERE_DC"/>
      <xs:enumeration value="UNITS_AMPERE_AC_PEAK"/>
      <xs:enumeration value="UNITS_AMPERE_AC_RMS"/>
      <xs:enumeration value="UNITS_HERTZ"/>
      <xs:enumeration value="UNITS_OHM"/>
      <xs:enumeration value="UNITS_WATT"/>
      <xs:enumeration value="UNITS_KILOGRAM"/>
      <xs:enumeration value="UNITS_METERS"/>
      <xs:enumeration value="UNITS_METERS_SQUARED"/>
      <xs:enumeration value="UNITS_METERS_CUBED"/>
      <xs:enumeration value="UNITS_KILOGRAMMES_PER_METER_CUBED"/>
      <xs:enumeration value="UNITS_METERS_PER_SECOND"/>
      <xs:enumeration value="UNITS_METERS_PER_SECOND_SQUARED"/>
      <xs:enumeration value="UNITS_NEWTON"/>
      <xs:enumeration value="UNITS_JOULE"/>
      <xs:enumeration value="UNITS_PASCAL"/>
      <xs:enumeration value="UNITS_SECOND"/>
      <xs:enumeration value="UNITS_DEGREE"/>
      <xs:enumeration value="UNITS_STERADIAN"/>
      <xs:enumeration value="UNITS_CANDELA"/>
      <xs:enumeration value="UNITS_LUMEN"/>
      <xs:enumeration value="UNITS_LUX"/>
      <xs:enumeration value="UNITS_IRE"/>
      <xs:enumeration value="UNITS_BYTE"/>
      <xs:enumeration value="UNITS_MS"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RDMSlotInfoTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ST_PRIMARY"/>
      <xs:enumeration value="ST_SEC_FINE"/>
      <xs:enumeration value="ST_SEC_TIMING"/>
      <xs:enumeration value="ST_SEC_SPEED"/>
      <xs:enumeration value="ST_SEC_CONTROL"/>
      <xs:enumeration value="ST_SEC_INDEX"/>
      <xs:enumeration value="ST_SEC_ROTATION"/>
      <xs:enumeration value="ST_SEC_INDEX_ROTATE"/>
      <xs:enumeration value="ST_SEC_UNDEFINED"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RDMSlotLabelIDEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SD_INTENSITY"/>
      <xs:enumeration value="SD_INTENSITY_MASTER"/>
      <xs:enumeration value="SD_PAN"/>
      <xs:enumeration value="SD_TILT"/>
      <xs:enumeration value="SD_COLOR_WHEEL"/>
      <xs:enumeration value="SD_COLOR_SUB_CYAN"/>
      <xs:enumeration value="SD_COLOR_SUB_YELLOW"/>
      <xs:enumeration value="SD_COLOR_SUB_MAGENTA"/>
      <xs:enumeration value="SD_COLOR_ADD_RED"/>
      <xs:enumeration value="SD_COLOR_ADD_GREEN"/>
      <xs:enumeration value="SD_COLOR_ADD_BLUE"/>
      <xs:enumeration value="SD_COLOR_CORRECTION"/>
      <xs:enumeration value="SD_COLOR_SCROLL"/>
      <xs:enumeration value="SD_COLOR_SEMAPHORE"/>
      <xs:enumeration value="SD_COLOR_ADD_AMBER"/>
      <xs:enumeration value="SD_COLOR_ADD_WHITE"/>
      <xs:enumeration value="SD_COLOR_ADD_W ARM_WHITE"/>
      <xs:enumeration value="SD_COLOR_ADD_COOL_WHITE"/>
      <xs:enumeration value="SD_COLOR_SUB_UV"/>
      <xs:enumeration value="SD_COLOR_HUE"/>
      <xs:enumeration value="SD_COLOR_SATURATION"/>
      <xs:enumeration value="SD_STATIC_GOBO_WHEEL"/>
      <xs:enumeration value="SD_ROTO_GOBO_WHEEL"/>
      <xs:enumeration value="SD_PRISM_WHEEL"/>
      <xs:enumeration value="SD_EFFECTS_WHEEL"/>
      <xs:enumeration value="SD_BEAM_SIZE_IRIS"/>
      <xs:enumeration value="SD_EDGE"/>
      <xs:enumeration value="SD_FROST"/>
      <xs:enumeration value="SD_STROBE"/>
      <xs:enumeration value="SD_ZOOM"/>
      <xs:enumeration value="SD_FRAMING_SHUTTER"/>
      <xs:enumeration value="SD_SHUTTER_ROTATE"/>
      <xs:enumeration value="SD_DOUSER"/>
      <xs:enumeration value="SD_BARN_DOOR"/>
      <xs:enumeration value="SD_LAMP_CONTROL"/>
      <xs:enumeration value="SD_FIXTURE_CONTROL"/>
      <xs:enumeration value="SD_FIXTURE_SPEED"/>
      <xs:enumeration value="SD_MACRO"/>
      <xs:enumeration value="SD_POWER_CONTROL"/>
      <xs:enumeration value="SD_FAN_CONTROL"/>
      <xs:enumeration value="SD_HEATER_CONTROL"/>
      <xs:enumeration value="SD_FOUNTAIN_CONTROL"/>
      <xs:enumeration value="SD_UNDEFINED"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RDMParameterSensorUnitPrefixEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PREFIX_NONE"/>
      <xs:enumeration value="PREFIX_DECI"/>
      <xs:enumeration value="PREFIX_CENTI"/>
      <xs:enumeration value="PREFIX_MILLI"/>
      <xs:enumeration value="PREFIX_MICRO"/>
      <xs:enumeration value="PREFIX_NANO"/>
      <xs:enumeration value="PREFIX_PICO"/>
      <xs:enumeration value="PREFIX_FEMPTO"/>
      <xs:enumeration value="PREFIX_ATTO"/>
      <xs:enumeration value="PREFIX_ZEPTO"/>
      <xs:enumeration value="PREFIX_YOCTO"/>
      <xs:enumeration value="PREFIX_DECA"/>
      <xs:enumeration value="PREFIX_HECTO"/>
      <xs:enumeration value="PREFIX_KILO"/>
      <xs:enumeration value="PREFIX_MEGA"/>
      <xs:enumeration value="PREFIX_GIGA"/>
      <xs:enumeration value="PREFIX_TERRA"/>
      <xs:enumeration value="PREFIX_PETA"/>
      <xs:enumeration value="PREFIX_EXA"/>
      <xs:enumeration value="PREFIX_ZETTA"/>
      <xs:enumeration value="PREFIX_YOTTA"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CESEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CES01"/>
      <xs:enumeration value="CES02"/>
      <xs:enumeration value="CES03"/>
      <xs:enumeration value="CES04"/>
      <xs:enumeration value="CES05"/>
      <xs:enumeration value="CES06"/>
      <xs:enumeration value="CES07"/>
      <xs:enumeration value="CES08"/>
      <xs:enumeration value="CES09"/>
      <xs:enumeration value="CES10"/>
      <xs:enumeration value="CES11"/>
      <xs:enumeration value="CES12"/>
      <xs:enumeration value="CES13"/>
      <xs:enumeration value="CES14"/>
      <xs:enumeration value="CES15"/>
      <xs:enumeration value="CES16"/>
      <xs:enumeration value="CES17"/>
      <xs:enumeration value="CES18"/>
      <xs:enumeration value="CES19"/>
      <xs:enumeration value="CES20"/>
      <xs:enumeration value="CES21"/>
      <xs:enumeration value="CES22"/>
      <xs:enumeration value="CES23"/>
      <xs:enumeration value="CES24"/>
      <xs:enumeration value="CES25"/>
      <xs:enumeration value="CES26"/>
      <xs:enumeration value="CES27"/>
      <xs:enumeration value="CES28"/>
      <xs:enumeration value="CES29"/>
      <xs:enumeration value="CES30"/>
      <xs:enumeration value="CES31"/>
      <xs:enumeration value="CES32"/>
      <xs:enumeration value="CES33"/>
      <xs:enumeration value="CES34"/>
      <xs:enumeration value="CES35"/>
      <xs:enumeration value="CES36"/>
      <xs:enumeration value="CES37"/>
      <xs:enumeration value="CES38"/>
      <xs:enumeration value="CES39"/>
      <xs:enumeration value="CES40"/>
      <xs:enumeration value="CES41"/>
      <xs:enumeration value="CES42"/>
      <xs:enumeration value="CES43"/>
      <xs:enumeration value="CES44"/>
      <xs:enumeration value="CES45"/>
      <xs:enumeration value="CES46"/>
      <xs:enumeration value="CES47"/>
      <xs:enumeration value="CES48"/>
      <xs:enumeration value="CES49"/>
      <xs:enumeration value="CES50"/>
      <xs:enumeration value="CES51"/>
      <xs:enumeration value="CES52"/>
      <xs:enumeration value="CES53"/>
      <xs:enumeration value="CES54"/>
      <xs:enumeration value="CES55"/>
      <xs:enumeration value="CES56"/>
      <xs:enumeration value="CES57"/>
      <xs:enumeration value="CES58"/>
      <xs:enumeration value="CES59"/>
      <xs:enumeration value="CES60"/>
      <xs:enumeration value="CES61"/>
      <xs:enumeration value="CES62"/>
      <xs:enumeration value="CES63"/>
      <xs:enumeration value="CES64"/>
      <xs:enumeration value="CES65"/>
      <xs:enumeration value="CES66"/>
      <xs:enumeration value="CES67"/>
      <xs:enumeration value="CES68"/>
      <xs:enumeration value="CES69"/>
      <xs:enumeration value="CES70"/>
      <xs:enumeration value="CES71"/>
      <xs:enumeration value="CES72"/>
      <xs:enumeration value="CES73"/>
      <xs:enumeration value="CES74"/>
      <xs:enumeration value="CES75"/>
      <xs:enumeration value="CES76"/>
      <xs:enumeration value="CES77"/>
      <xs:enumeration value="CES78"/>
      <xs:enumeration value="CES79"/>
      <xs:enumeration value="CES80"/>
      <xs:enumeration value="CES81"/>
      <xs:enumeration value="CES82"/>
      <xs:enumeration value="CES83"/>
      <xs:enumeration value="CES84"/>
      <xs:enumeration value="CES85"/>
      <xs:enumeration value="CES86"/>
      <xs:enumeration value="CES87"/>
      <xs:enumeration value="CES88"/>
      <xs:enumeration value="CES89"/>
      <xs:enumeration value="CES90"/>
      <xs:enumeration value="CES91"/>
      <xs:enumeration value="CES92"/>
      <xs:enumeration value="CES93"/>
      <xs:enumeration value="CES94"/>
      <xs:enumeration value="CES95"/>
      <xs:enumeration value="CES96"/>
      <xs:enumeration value="CES97"/>
      <xs:enumeration value="CES98"/>
      <xs:enumeration value="CES99"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
