gdtf.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GDTF">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="FixtureType"/>
      </xs:sequence>
      <xs:attribute name="DataVersion" type="dataversion" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="FixtureType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" ref="AttributeDefinitions"/>
        <xs:element minOccurs="0" ref="Wheels"/>
        <xs:element minOccurs="0" ref="PhysicalDescriptions"/>
        <xs:element minOccurs="0" ref="Models"/>
        <xs:element minOccurs="1" ref="Geometries"/>
        <xs:element minOccurs="1" ref="DMXModes"/>
        <xs:element minOccurs="0" ref="Revisions"/>
        <xs:element minOccurs="0" ref="FTPresets"/>
        <xs:element minOccurs="0" ref="Protocols"/>
      </xs:sequence>
      <xs:attribute name="Name" type="nametype" use="required"/>
      <xs:attribute name="ShortName" type="xs:string" use="optional"/>
      <xs:attribute name="LongName" type="xs:string" use="optional"/>
      <xs:attribute name="Manufacturer" type="xs:string" use="required"/>
      <xs:attribute name="Description" type="xs:string" use="required"/>
      <xs:attribute name="FixtureTypeID" type="guidtype" use="required"/>
      <xs:attribute name="Thumbnail" type="xs:string" use="optional"/>
      <xs:attribute name="RefFT" type="guidtype" use="optional"/>
      <xs:attribute name="CanHaveChildren" type="YesNoEnum" use="optional" default="Yes"/>
    </xs:complexType>
    <xs:keyref name="AttributeKeyReference" refer="UniqueAttribute">
      <xs:selector xpath=".//LogicalChannel|.//ChannelFunction" />
      <xs:field xpath="@Attribute" />
    </xs:keyref>
    <xs:keyref name="FilterKeyReference" refer="UniqueFilter">
      <xs:selector xpath="Wheels/Wheel/Slot|DMXModes/DMXMode/DMXChannels/DMXChannel/LogicalChannel/ChannelFunction" />
      <xs:field xpath="@Filter" />
    </xs:keyref>
    <xs:keyref name="ModelKeyReference" refer="UniqueModel">
      <xs:selector xpath=".//Geometry|.//Axis|.//FilterBeam|.//FilterColor|.//FilterGobo|.//FilterShaper|
      .//Beam|.//MediaServerLayer|.//MediaServerCamera|.//MediaServerMaster|.//Display|.//GeometryReference"/>
      <xs:field xpath="@Model"/>
    </xs:keyref>
    <xs:keyref name="TopLevelGeometryKeyReference" refer="UniqueTopLevelGeometries">
      <xs:selector xpath="DMXModes/DMXMode"/>
      <xs:field xpath="@Geometry"/>
    </xs:keyref>
    <xs:keyref name="GeometryKeyReference" refer="UniqueGeometries">
      <xs:selector xpath="DMXModes/DMXMode/DMXChannels/DMXChannel"/>
      <xs:field xpath="@Geometry"/>
    </xs:keyref>
    <xs:keyref name="WheelKeyReference" refer="UniqueWheelName">
      <xs:selector xpath="DMXModes/DMXMode/DMXChannels/DMXChannel/LogicalChannel/ChannelFunction"/>
      <xs:field xpath="@Wheel"/>
    </xs:keyref>
    <xs:keyref name="EmitterKeyReference" refer="UniqueEmitter">
      <xs:selector xpath="DMXModes/DMXMode/DMXChannels/DMXChannel/LogicalChannel/ChannelFunction"/>
      <xs:field xpath="@Emitter"/>
    </xs:keyref>
  </xs:element>
  <xs:element name="Wheels">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="Wheel"/>
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="UniqueWheelName">
      <xs:selector xpath="Wheel"/>
      <xs:field xpath="@Name"/>
    </xs:unique>
  </xs:element>
  <xs:element name="Wheel">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="Slot"/>
      </xs:sequence>
      <xs:attribute name="Name" type="nametype" use="optional"/>
    </xs:complexType>
    <xs:unique name="UniqueSlotName">
      <xs:selector xpath="Slot"/>
      <xs:field xpath="@Name"/>
    </xs:unique>
  </xs:element>
  <xs:element name="Slot">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="1">
        <xs:element ref="Facet" minOccurs="1" maxOccurs="unbounded"/>
        <xs:element ref="AnimationSystem"/>
      </xs:choice>
      <xs:attribute name="Name" type="nametype" use="required"/>
      <xs:attribute name="Color" type="colorcietype" use="optional"/>
      <xs:attribute name="Filter" type="nametype" use="optional"/>
      <xs:attribute name="MediaFileName" type="xs:string" use="optional" default=""/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Facet">
    <xs:complexType>
      <xs:attribute name="Color" type="colorcietype" use="optional"/>
      <xs:attribute name="Rotation" type="rotationtype" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnimationSystem">
    <xs:complexType>
      <xs:attribute name="P1" type="twoarray" use="required"/>
      <xs:attribute name="P2" type="twoarray" use="required"/>
      <xs:attribute name="P3" type="twoarray" use="required"/>
      <xs:attribute name="Radius" type="positivefloat" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Models">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="Model"/>
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="UniqueModel">
      <xs:selector xpath="Model"/>
      <xs:field xpath="@Name"/>
    </xs:unique>
  </xs:element>
  <xs:element name="Model">
    <xs:complexType>
      <xs:attribute name="Name" type="nametype" use="required"/>
      <xs:attribute name="Length" type="xs:float" use="optional" default="0"/>
      <xs:attribute name="Width" type="xs:float" use="optional" default="0"/>
      <xs:attribute name="Height" type="xs:float" use="optional" default="0"/>
      <xs:attribute name="PrimitiveType" type="PrimitiveTypeEnum" use="optional" default="Undefined"/>
      <xs:attribute name="File" type="xs:string" use="optional" default=""/>
    </xs:complexType>
  </xs:element>
  <xs:group name="GeometryChildren">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="Geometry"/>
        <xs:element ref="Axis"/>
        <xs:element ref="FilterBeam"/>
        <xs:element ref="FilterColor"/>
        <xs:element ref="FilterGobo"/>
        <xs:element ref="FilterShaper"/>
        <xs:element ref="Beam"/>
        <xs:element ref="MediaServerLayer"/>
        <xs:element ref="MediaServerCamera"/>
        <xs:element ref="MediaServerMaster"/>
        <xs:element ref="Display"/>
        <xs:element ref="GeometryReference"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:element name="Geometries">
    <xs:complexType>
      <xs:group ref="GeometryChildren"/>
    </xs:complexType>
    <xs:unique name="UniqueGeometries">
      <xs:selector xpath=".//*"/>
      <xs:field xpath="@Name"/>
    </xs:unique>
    <xs:unique name="UniqueTopLevelGeometries">
      <xs:selector xpath="*"/>
      <xs:field xpath="@Name"/>
    </xs:unique>
  </xs:element>
  <xs:complexType name="BasicGeometryAttributes">
    <xs:attribute name="Name" type="nametype" use="required"/>
    <xs:attribute name="Model" type="nametype" use="optional"/>
    <xs:attribute name="Position" type="matrixtype" use="optional" default="{1,0,0,0}{0,1,0,0}{0,0,1,0}{0,0,0,1}"/>
  </xs:complexType>
  <xs:complexType name="BasicGeometryType">
    <xs:complexContent>
      <xs:extension base="BasicGeometryAttributes">
        <xs:group ref="GeometryChildren"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Geometry" type="BasicGeometryType"/>
  <xs:element name="Axis" type="BasicGeometryType">
    <!-- Model attribute is missing in DIN 15800:2020-07 (GDTF 1.1) but still appears in the Wiki (GDTF 1.0). 
    Might be a typo in the DIN standard, since it would break backwards compatibility. Therefore, I still allow it here. -->
  </xs:element>
  <xs:element name="FilterBeam" type="BasicGeometryType"/>
  <xs:element name="FilterColor" type="BasicGeometryType"/>
  <xs:element name="FilterGobo" type="BasicGeometryType"/>
  <xs:element name="FilterShaper" type="BasicGeometryType"/>
  <xs:element name="Beam">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="BasicGeometryType">
          <xs:attribute name="LampType" type="LampTypeEnum" use="optional"/>
          <xs:attribute name="PowerConsumption" type="xs:float" use="optional"/>
          <xs:attribute name="LuminousFlux" type="xs:float" use="optional"/>
          <xs:attribute name="ColorTemperature" type="xs:float" use="optional"/>
          <xs:attribute name="BeamAngle" type="xs:float" use="optional"/>
          <xs:attribute name="FieldAngle" type="xs:float" use="optional"/>
          <xs:attribute name="ThrowRatio" type="xs:float" use="optional"/>
          <xs:attribute name="RectangleRatio" type="xs:float" use="optional"/>
          <xs:attribute name="BeamRadius" type="xs:float" use="optional"/>
          <xs:attribute name="BeamType" type="BeamTypeEnum" use="optional"/>
          <xs:attribute name="ColorRenderingIndex" type="xs:unsignedByte" use="optional"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="MediaServerLayer" type="BasicGeometryType"/>
  <xs:element name="MediaServerCamera" type="BasicGeometryType"/>
  <xs:element name="MediaServerMaster" type="BasicGeometryType"/>
  <xs:element name="Display">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="BasicGeometryType">
          <xs:attribute name="Texture" type="xs:string" use="optional"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeometryReference">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="BasicGeometryAttributes">
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Break"/>
          </xs:sequence>
          <xs:attribute name="Geometry" type="nametype" use="required"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Break">
    <xs:complexType>
      <xs:attribute name="DMXOffset" type="dmxaddresstype" use="optional" default="1"/>
      <xs:attribute name="DMXBreak" type="xs:unsignedByte" use="optional" default="1"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMXModes">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="DMXMode"/>
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="UniqueDMXModeName">
      <xs:selector xpath="DMXMode"/>
      <xs:field xpath="@Name"/>
    </xs:unique>
  </xs:element>
  <xs:element name="DMXMode">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="DMXChannels"/>
        <xs:element ref="Relations" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="FTMacros" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="Name" type="nametype" use="required"/>
      <xs:attribute name="Geometry" type="nametype" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMXChannels">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="DMXChannel"/>
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="UniqueCombinationOfGeometryAndAttributeForLogicalChannel">
      <xs:selector xpath="DMXChannel"/>
      <xs:field xpath="@Geometry"/>
      <xs:field xpath="LogicalChannel/@Attribute"/>
    </xs:unique>
  </xs:element>
  <xs:element name="DMXChannel">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="LogicalChannel"/>
      </xs:sequence>
      <xs:attribute name="DMXBreak" type="dmxbreaktype" default="1"/> <!-- DIN 15800:2020-07 allows signed Int (?) -->
      <xs:attribute name="Offset" type="offsettype" default="None"/>
      <xs:attribute name="InitialFunction" type="nodetype" use="optional"/> <!-- can't be ensured to be valid reference in XSD 1.0 -->
      <xs:attribute name="Highlight" type="dmxtype" default="None"/>
      <xs:attribute name="Geometry" type="nametype" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogicalChannel">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="ChannelFunction"/>
      </xs:sequence>
      <xs:attribute name="Attribute" type="nametype" use="required"/>
      <xs:attribute name="Snap" type="SnapEnum" default="No"/>
      <xs:attribute name="Master" type="MasterEnum" default="None"/>
      <xs:attribute name="MibFade" type="xs:float" use="optional"/>
      <xs:attribute name="DMXChangeTimeLimit" type="xs:float" use="optional"/>
    </xs:complexType>
    <xs:unique name="UniqueChannelFunction">
      <xs:selector xpath="ChannelFunction"/>
      <xs:field xpath="@Name"/>
    </xs:unique>
  </xs:element>
  <xs:element name="ChannelFunction">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="ChannelSet"/>
      </xs:sequence>
      <xs:attribute name="Name" type="nametype" use="optional"/>
      <xs:attribute name="Attribute" type="nametype" default="NoFeature"/>
      <xs:attribute name="OriginalAttribute" type="xs:string" default=""/>
      <xs:attribute name="DMXFrom" type="dmxtype" default="0/1"/>
      <xs:attribute name="Default" type="dmxtype" use="required"/>
      <xs:attribute name="PhysicalFrom" type="xs:float" use="optional"/>
      <xs:attribute name="PhysicalTo" type="xs:float" use="optional"/>
      <xs:attribute name="RealFade" type="xs:float" use="optional"/>
      <xs:attribute name="RealAcceleration" type="xs:float" use="optional"/>
      <xs:attribute name="Wheel" type="nametype" use="optional"/>
      <xs:attribute name="Emitter" type="nametype" use="optional"/>
      <xs:attribute name="Filter" type="nametype" use="optional"/>
      <xs:attribute name="ModeMaster" type="nodetype" use="optional"/>
      <xs:attribute name="ModeFrom" type="dmxtype" default="0/1"/>
      <xs:attribute name="ModeTo" type="dmxtype" default="0/1"/>
    </xs:complexType>
    <xs:unique name="UniqueChannelSetDMXFrom">
      <xs:selector xpath="ChannelSet"/>
      <xs:field xpath="@DMXFrom"/>
    </xs:unique>
  </xs:element>
  <xs:element name="ChannelSet">
    <xs:complexType>
      <xs:attribute name="Name" type="xs:string" use="optional"/>
      <xs:attribute name="DMXFrom" type="dmxtype" use="optional"/>
      <xs:attribute name="PhysicalFrom" type="xs:float" use="optional"/>
      <xs:attribute name="PhysicalTo" type="xs:float" use="optional"/>
      <xs:attribute name="WheelSlotIndex" type="xs:int" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Relations">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="Relation"/>
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="UniqueRelationName">
      <xs:selector xpath="Relation"/>
      <xs:field xpath="@Name"/>
    </xs:unique>
  </xs:element>
  <xs:element name="Relation">
    <xs:complexType>
      <xs:attribute name="Name" type="xs:string" use="required"/>
      <xs:attribute name="Master" type="nodetype" use="required"/>
      <xs:attribute name="Follower" type="nodetype" use="required"/>
      <xs:attribute name="Type" type="RelationTypesEnum" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Revisions">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="Revision"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Revision">
    <xs:complexType>
      <xs:attribute name="Text" type="xs:string" use="optional"/>
      <xs:attribute name="Date" type="xs:dateTime" use="optional"/>
      <xs:attribute name="UserID" type="xs:integer" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="FTPresets">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="FTPreset"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FTPreset">
    <xs:complexType/>
  </xs:element>
  <xs:element name="FTMacros">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="FTMacro" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="UniqueMacroName">
      <xs:selector xpath="FTMacro"/>
      <xs:field xpath="@Name"/>
    </xs:unique>
  </xs:element>
  <xs:element name="FTMacro">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MacroDMX" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="Name" type="nametype" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="MacroDMX">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="MacroDMXStep"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MacroDMXStep">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="MacroDMXValue"/>
      </xs:sequence>
      <xs:attribute name="Duration" type="xs:float" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="MacroDMXValue">
    <xs:complexType>
      <xs:attribute name="Value" type="dmxtype" use="required"/>
      <xs:attribute name="DMXChannel" type="nodetype" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhysicalDescriptions">
    <xs:complexType>
      <xs:all>
        <xs:element ref="Emitters" minOccurs="0"/>
        <xs:element ref="Filters" minOccurs="0"/>
        <xs:element ref="ColorSpace" minOccurs="0"/>
        <xs:element ref="DMXProfiles" minOccurs="0"/>
        <xs:element ref="CRIs" minOccurs="0"/>
        <xs:element ref="Connectors" minOccurs="0"/>
        <xs:element ref="Properties" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
    <xs:keyref name="ConnectorKeyReference" refer="UniqueConnector">
      <xs:selector xpath="Properties/PowerConsumption"/>
      <xs:field xpath="@Connector"></xs:field>
    </xs:keyref>
  </xs:element>
  <xs:element name="Emitters">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="Emitter"/>
      </xs:sequence>
    </xs:complexType>
    <xs:key name="UniqueEmitter">
      <xs:selector xpath="Emitter" />
      <xs:field xpath="@Name" />
    </xs:key>
  </xs:element>
  <xs:element name="Emitter">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="Measurement">
          <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
              <xs:element ref="MeasurementPoint"/>
            </xs:sequence>
            <xs:attribute name="Physical" type="physicaltype" use="required"/>
            <xs:attribute name="LuminousIntensity" type="xs:float" use="required"/>
            <xs:attribute name="InterpolationTo" type="InterpolationToEnum" use="optional" default="Linear"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Name" type="nametype" use="required"/>
      <xs:attribute name="Color" type="colorcietype" use="optional"/>
      <xs:attribute name="DominantWaveLength" type="xs:float" use="optional"/> <!-- Required if Color is omitted! -->
      <xs:attribute name="DiodePart" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Filters">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="Filter"/>
      </xs:sequence>
    </xs:complexType>
    <xs:key name="UniqueFilter">
      <xs:selector xpath="Filter" />
      <xs:field xpath="@Name" />
    </xs:key>
  </xs:element>
  <xs:element name="Filter">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="Measurement">
          <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
              <xs:element ref="MeasurementPoint"/>
            </xs:sequence>
            <xs:attribute name="Physical" type="physicaltype" use="required"/>
            <xs:attribute name="Transmission" type="xs:float" use="required"/>
            <xs:attribute name="InterpolationTo" type="InterpolationToEnum" use="optional" default="Linear"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Name" type="nametype" use="required"/>
      <xs:attribute name="Color" type="colorcietype" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="MeasurementPoint">
    <xs:complexType>
      <xs:attribute name="WaveLength" type="xs:float" use="required"/>
      <xs:attribute name="Energy" type="xs:float" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ColorSpace">
    <xs:complexType>
      <xs:attribute name="Mode" type="ColorSpaceEnum" use="optional" default="sRGB"/>
      <xs:attribute name="Red" type="colorcietype" use="optional"/>
      <xs:attribute name="Green" type="colorcietype" use="optional"/>
      <xs:attribute name="Blue" type="colorcietype" use="optional"/>
      <xs:attribute name="WhitePoint" type="colorcietype" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMXProfiles">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="DMXProfile"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMXProfile">
    <xs:complexType>
    </xs:complexType>
  </xs:element>
  <xs:element name="CRIs">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="CRIGroup"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CRIGroup">
    <xs:complexType>
      <xs:sequence minOccurs="1" maxOccurs="99">
        <xs:element ref="CRI"/>
      </xs:sequence>
      <xs:attribute name="ColorTemperature" type="xs:float" use="optional"/>
    </xs:complexType>
    <xs:unique name="UniqueCESInGroup">
      <xs:selector xpath="CRI"/>
      <xs:field xpath="@CES"/>
    </xs:unique>
  </xs:element>
  <xs:element name="CRI">
    <xs:complexType>
      <xs:attribute name="CES" type="CESEnum" use="optional" default="CES01"/>
      <xs:attribute name="ColorRenderingIndex" type="xs:unsignedByte" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Connectors">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="Connector"/>
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="UniqueConnector">
      <xs:selector xpath="Connector"/>
      <xs:field xpath="@Name"/>
    </xs:unique>
  </xs:element>
  <xs:element name="Connector">
    <xs:complexType>
      <xs:attribute name="Name" type="nametype" use="required"/>
      <xs:attribute name="Type" type="nametype" use="required"/>
      <xs:attribute name="DMXBreak" type="positiveinteger" use="optional" />
      <xs:attribute name="Gender" type="xs:integer" use="optional"/>
      <xs:attribute name="Length" type="positivefloat" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Properties">
    <xs:complexType>
      <!-- The DIN 15800:2020-07 implicitly allows arbitrary order, but that is not easily representable in XSD 1.0.
        Therefore we restrict order here arbitrarily by using xs:sequence. -->
      <xs:sequence>
        <xs:element ref="OperatingTemperature" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="Weight" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="PowerConsumption" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="LegHeight" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperatingTemperature">
    <xs:complexType>
      <xs:attribute name="Low" type="xs:float" use="optional"/>
      <xs:attribute name="High" type="xs:float" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Weight">
    <xs:complexType>
      <xs:attribute name="Value" type="xs:float" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PowerConsumption">
    <xs:complexType>
      <xs:attribute name="Value" type="xs:float" use="optional"/>
      <xs:attribute name="PowerFactor" type="xs:float" use="optional"/>
      <xs:attribute name="Connector" type="nametype" use="required"/>
      <xs:attribute name="VoltageLow" type="xs:float" use="optional"/>
      <xs:attribute name="VoltageHigh" type="xs:float" use="optional"/>
      <xs:attribute name="FrequencyLow" type="xs:float" use="optional"/>
      <xs:attribute name="FrequencyHigh" type="xs:float" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="LegHeight">
    <xs:complexType>
      <xs:attribute name="Value" type="xs:float" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Protocols">
    <xs:complexType>
      <xs:all>
        <xs:element ref="FTRDM" minOccurs="0" />
        <xs:element ref="Art-Net" minOccurs="0" />
        <xs:element ref="sACN" minOccurs="0" />
        <xs:element ref="PosiStageNet" minOccurs="0" />
        <xs:element ref="OpenSoundControl" minOccurs="0" />
        <xs:element ref="CITP" minOccurs="0" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="Art-Net">
    <xs:complexType/>
  </xs:element>
  <xs:element name="sACN">
    <xs:complexType/>
  </xs:element>
  <xs:element name="PosiStageNet">
    <xs:complexType/>
  </xs:element>
  <xs:element name="OpenSoundControl">
    <xs:complexType/>
  </xs:element>
  <xs:element name="CITP">
    <xs:complexType/>
  </xs:element>
  <xs:element name="FTRDM">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="SoftwareVersionID"/>
      </xs:sequence>
      <xs:attribute name="ManufacturerID" type="hextype" use="optional"/>
      <xs:attribute name="DeviceModelID" type="hextype" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="SoftwareVersionID">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="DMXPersonality" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="Value" type="hextype" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMXPersonality">
    <xs:complexType>
      <xs:attribute name="Value" type="hextype" use="optional"/>
      <xs:attribute name="DMXMode" type="nametype" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="AttributeDefinitions">
    <xs:complexType>
      <xs:all>
        <xs:element ref="ActivationGroups" minOccurs="0"/>
        <xs:element ref="FeatureGroups" minOccurs="1"/>
        <xs:element ref="Attributes" minOccurs="1"/>
      </xs:all>
    </xs:complexType>
    <xs:keyref name="ActivationGroupReference" refer="UniqueActivationGroup">
      <xs:selector xpath="Attributes/Attribute" />
      <xs:field xpath="@ActivationGroup" />
    </xs:keyref>
  </xs:element>
  <xs:element name="ActivationGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ActivationGroup" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="UniqueActivationGroup">
      <xs:selector xpath="ActivationGroup"/>
      <xs:field xpath="@Name"/>
    </xs:unique>
  </xs:element>
  <xs:element name="FeatureGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="FeatureGroup" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="UniqueFeatureGroup">
      <xs:selector xpath="FeatureGroup"/>
      <xs:field xpath="@Name"/>
    </xs:unique>
  </xs:element>
  <xs:element name="ActivationGroup">
    <xs:complexType>
      <xs:attribute name="Name" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="FeatureGroup">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="Feature"/>
      </xs:sequence>
      <xs:attribute name="Name" type="xs:string" use="required"/>
      <xs:attribute name="Pretty" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:unique name="UniqueFeature">
      <xs:selector xpath="Feature"/>
      <xs:field xpath="@Name"/>
    </xs:unique>
  </xs:element>
  <xs:element name="Feature">
    <xs:complexType>
      <xs:attribute name="Name" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Attributes">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Attribute" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="UniqueAttribute">
      <xs:selector xpath="Attribute"/>
      <xs:field xpath="@Name"/>
    </xs:unique>
    <xs:keyref name="MainAttributeReference" refer="UniqueAttribute">
      <xs:selector xpath="Attribute" />
      <xs:field xpath="@MainAttribute" />
    </xs:keyref>
  </xs:element>
  <xs:element name="Attribute">
    <xs:complexType>
      <xs:attribute name="Name" type="nametype" use="required"/>
      <xs:attribute name="Pretty" type="xs:string" use="required"/>
      <xs:attribute name="ActivationGroup" type="xs:string" use="optional"/>
      <xs:attribute name="PhysicalUnit" type="PhysicalUnitEnum" default="None"/>
      <xs:attribute name="Color" type="colorcietype" use="optional"/>
      <xs:attribute name="Feature" type="featuretype" use="required"/>
      <xs:attribute name="MainAttribute" type="nametype" use="optional"/>
    </xs:complexType>
  </xs:element>
  <!-- Custom types -->
  <xs:simpleType name="positivefloat">
    <xs:restriction base="xs:float">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="positiveinteger">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="hextype">
    <xs:restriction base="xs:string">
      <xs:pattern value="0x[0-9a-fA-F]+"></xs:pattern>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="physicaltype">
    <xs:restriction base="xs:float">
      <xs:minExclusive value="0"/>
      <xs:maxInclusive value="100"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="twoarray">
    <xs:restriction base="xs:string">
      <xs:pattern value="-?[0-9]+\.?[0-9]*,-?[0-9]+\.?[0-9]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="matrixtype">
    <xs:restriction base="xs:string">
      <xs:pattern value="None|(\{-?[0-9]+\.?[0-9]*(,-?[0-9]+\.?[0-9]*){3}\}){4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="rotationtype">
    <xs:restriction base="xs:string">
      <xs:pattern value="None|(\{-?[0-9]+\.?[0-9]*(,-?[0-9]+\.?[0-9]*){2}\}){3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="colorcietype">
    <xs:restriction base="xs:string">
      <xs:pattern value="None|-?[0-9]+(\.[0-9]+)?,-?[0-9]+(\.[0-9]+)?,-?[0-9]+(\.[0-9]+)?"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="offsettype">
    <xs:restriction base="xs:string">
      <xs:pattern value="None|([0-9]+(,[0-9]+)*)"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dmxtype">
    <xs:restriction base="xs:string">
      <xs:pattern value="None|([0-9]+/[1-9][0-9]*s?)"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dmxaddresstype">
    <!-- DIN 15800:2020-07 also allows Universe.Address, which seems strange though. Which Universe would that even be?
    Therefore, this only matches Integers in the valid range. -->
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="512"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="nametype">
    <xs:restriction base="xs:string">
      <xs:pattern value="([a-zA-Z0-9#%()*+-/:;&lt;=&gt;@_` &quot;'])+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="featuretype">
    <xs:restriction base="xs:string">
      <!-- Two nametype strings, separated with a dot -->
      <xs:pattern value="([a-zA-Z0-9#%()*+-/:;&lt;=&gt;@_` &quot;'])+\.([a-zA-Z0-9#%()*+-/:;&lt;=&gt;@_` &quot;'])+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="nodetype">
    <xs:restriction base="xs:string">
      <!-- Arbitrary number of nametype strings, separated with a dot -->
      <xs:pattern value="([a-zA-Z0-9#%()*+-/:;&lt;=&gt;@_` &quot;'])+(\.([a-zA-Z0-9#%()*+-/:;&lt;=&gt;@_` &quot;'])+)*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dataversion">
    <xs:restriction base="xs:float">
      <!-- This matches two Uints, each in the range 0 to 255 (1 Byte), separated by a dot.
      Leading zeros and a plus sign are allowed for the first UInt, but not for the second one -->
      <xs:pattern value="((\+)?(0)*([0-9]{1}[0-9]{0,1}|[1]{1}[0-9]{0,2}|[2]{1}([0-4]{1}[0-9]{1}|[5]{1}[0-5]{1}))).(0+|([1-9]{1}[0-9]{0,1}|[1]{1}[0-9]{0,2}|[2]{1}([0-4]{1}[0-9]{1}|[5]{1}[0-5]{1})))" />
      <!-- v1.1 is not backwards compatible to 1.0, so we can only accept 1.1, not 1.0 -->
      <xs:minInclusive value="1.1" />
      <xs:maxInclusive value="1.1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="guidtype">
    <xs:restriction base="xs:string">
      <xs:pattern value="\s*|([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dmxbreaktype">
    <xs:restriction base="xs:string">
      <xs:pattern value="Overwrite|[0-9]+"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- ENUM SECTION -->
  <xs:simpleType name="PhysicalUnitEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None"/>
      <xs:enumeration value="Percent"/>
      <xs:enumeration value="Length"/>
      <xs:enumeration value="Mass"/>
      <xs:enumeration value="Time"/>
      <xs:enumeration value="Temperature"/>
      <xs:enumeration value="LuminousIntensity"/>
      <xs:enumeration value="Angle"/>
      <xs:enumeration value="Force"/>
      <xs:enumeration value="Frequency"/>
      <xs:enumeration value="Current"/>
      <xs:enumeration value="Voltage"/>
      <xs:enumeration value="Power"/>
      <xs:enumeration value="Energy"/>
      <xs:enumeration value="Area"/>
      <xs:enumeration value="Volume"/>
      <xs:enumeration value="Speed"/>
      <xs:enumeration value="Acceleration"/>
      <xs:enumeration value="AngularSpeed"/>
      <xs:enumeration value="AngularAccc"/>
      <xs:enumeration value="WaveLength"/>
      <xs:enumeration value="ColorComponent"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MasterEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None"/>
      <xs:enumeration value="Grand"/>
      <xs:enumeration value="Group"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PrimitiveTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined"/>
      <xs:enumeration value="Cube"/>
      <xs:enumeration value="Cylinder"/>
      <xs:enumeration value="Sphere"/>
      <xs:enumeration value="Base"/>
      <xs:enumeration value="Yoke"/>
      <xs:enumeration value="Head"/>
      <xs:enumeration value="Scanner"/>
      <xs:enumeration value="Conventional"/>
      <xs:enumeration value="Pigtail" />
      <xs:enumeration value="Base1_1" />
      <xs:enumeration value="Scanner1_1" />
      <xs:enumeration value="Conventional1_1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LampTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Discharge"/>
      <xs:enumeration value="Tungsten"/>
      <xs:enumeration value="Halogen"/>
      <xs:enumeration value="LED"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BeamTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Wash"/>
      <xs:enumeration value="Spot"/>
      <xs:enumeration value="None"/>
      <xs:enumeration value="Rectangle"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ColorSpaceEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Custom"/>
      <xs:enumeration value="sRGB"/>
      <xs:enumeration value="ProPhoto"/>
      <xs:enumeration value="ANSI"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="InterpolationToEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Linear"/>
      <xs:enumeration value="Step"/>
      <xs:enumeration value="Log"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SnapEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Yes"/>
      <xs:enumeration value="No"/>
      <xs:enumeration value="On"/>
      <xs:enumeration value="Off"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="YesNoEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Yes"/>
      <xs:enumeration value="No"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RelationTypesEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Multiply"/>
      <xs:enumeration value="Override"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CESEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CES01"/>
      <xs:enumeration value="CES02"/>
      <xs:enumeration value="CES03"/>
      <xs:enumeration value="CES04"/>
      <xs:enumeration value="CES05"/>
      <xs:enumeration value="CES06"/>
      <xs:enumeration value="CES07"/>
      <xs:enumeration value="CES08"/>
      <xs:enumeration value="CES09"/>
      <xs:enumeration value="CES10"/>
      <xs:enumeration value="CES11"/>
      <xs:enumeration value="CES12"/>
      <xs:enumeration value="CES13"/>
      <xs:enumeration value="CES14"/>
      <xs:enumeration value="CES15"/>
      <xs:enumeration value="CES16"/>
      <xs:enumeration value="CES17"/>
      <xs:enumeration value="CES18"/>
      <xs:enumeration value="CES19"/>
      <xs:enumeration value="CES20"/>
      <xs:enumeration value="CES21"/>
      <xs:enumeration value="CES22"/>
      <xs:enumeration value="CES23"/>
      <xs:enumeration value="CES24"/>
      <xs:enumeration value="CES25"/>
      <xs:enumeration value="CES26"/>
      <xs:enumeration value="CES27"/>
      <xs:enumeration value="CES28"/>
      <xs:enumeration value="CES29"/>
      <xs:enumeration value="CES30"/>
      <xs:enumeration value="CES31"/>
      <xs:enumeration value="CES32"/>
      <xs:enumeration value="CES33"/>
      <xs:enumeration value="CES34"/>
      <xs:enumeration value="CES35"/>
      <xs:enumeration value="CES36"/>
      <xs:enumeration value="CES37"/>
      <xs:enumeration value="CES38"/>
      <xs:enumeration value="CES39"/>
      <xs:enumeration value="CES40"/>
      <xs:enumeration value="CES41"/>
      <xs:enumeration value="CES42"/>
      <xs:enumeration value="CES43"/>
      <xs:enumeration value="CES44"/>
      <xs:enumeration value="CES45"/>
      <xs:enumeration value="CES46"/>
      <xs:enumeration value="CES47"/>
      <xs:enumeration value="CES48"/>
      <xs:enumeration value="CES49"/>
      <xs:enumeration value="CES50"/>
      <xs:enumeration value="CES51"/>
      <xs:enumeration value="CES52"/>
      <xs:enumeration value="CES53"/>
      <xs:enumeration value="CES54"/>
      <xs:enumeration value="CES55"/>
      <xs:enumeration value="CES56"/>
      <xs:enumeration value="CES57"/>
      <xs:enumeration value="CES58"/>
      <xs:enumeration value="CES59"/>
      <xs:enumeration value="CES60"/>
      <xs:enumeration value="CES61"/>
      <xs:enumeration value="CES62"/>
      <xs:enumeration value="CES63"/>
      <xs:enumeration value="CES64"/>
      <xs:enumeration value="CES65"/>
      <xs:enumeration value="CES66"/>
      <xs:enumeration value="CES67"/>
      <xs:enumeration value="CES68"/>
      <xs:enumeration value="CES69"/>
      <xs:enumeration value="CES70"/>
      <xs:enumeration value="CES71"/>
      <xs:enumeration value="CES72"/>
      <xs:enumeration value="CES73"/>
      <xs:enumeration value="CES74"/>
      <xs:enumeration value="CES75"/>
      <xs:enumeration value="CES76"/>
      <xs:enumeration value="CES77"/>
      <xs:enumeration value="CES78"/>
      <xs:enumeration value="CES79"/>
      <xs:enumeration value="CES80"/>
      <xs:enumeration value="CES81"/>
      <xs:enumeration value="CES82"/>
      <xs:enumeration value="CES83"/>
      <xs:enumeration value="CES84"/>
      <xs:enumeration value="CES85"/>
      <xs:enumeration value="CES86"/>
      <xs:enumeration value="CES87"/>
      <xs:enumeration value="CES88"/>
      <xs:enumeration value="CES89"/>
      <xs:enumeration value="CES90"/>
      <xs:enumeration value="CES91"/>
      <xs:enumeration value="CES92"/>
      <xs:enumeration value="CES93"/>
      <xs:enumeration value="CES94"/>
      <xs:enumeration value="CES95"/>
      <xs:enumeration value="CES96"/>
      <xs:enumeration value="CES97"/>
      <xs:enumeration value="CES98"/>
      <xs:enumeration value="CES99"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
