mvr.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GeneralSceneDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="UserData" type="UserData" minOccurs="0"/>
        <xs:element name="Scene" type="Scene"/>
      </xs:sequence>
      <xs:attribute name="verMajor" type="positiveinteger" use="required"/>
      <xs:attribute name="verMinor" type="positiveinteger" use="required"/>
	  <xs:attribute name="provider" type="xs:string" use="required"/>
	  <xs:attribute name="providerVersion" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="UserData">
    <xs:sequence>
      <xs:element name="Data" type="Data" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Data">
    <xs:attribute name="provider" type="xs:string" use="required"/>
    <xs:attribute name="ver" type="xs:string" default="1"/>
  </xs:complexType>
  <xs:complexType name="Scene">
    <xs:sequence>
      <xs:element name="Layers" type="Layers" minOccurs="1"/>
      <xs:element name="AUXData" type="AUXData" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AUXData">
    <xs:sequence>
      <xs:element name="Class" type="Class" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Symdef" type="Symdef" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Position" type="Position" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="MappingDefinition" type="MappingDefinition" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Class">
    <xs:attribute name="uuid" type="guidtype" use="required"/>
    <xs:attribute name="name" type="xs:string" default=""/>
  </xs:complexType>
  <xs:complexType name="Symdef">
    <xs:sequence>
      <xs:element name="Geometry3D" type="Geometry3D"/>
      <xs:element name="Symbol" type="Symbol"/>
    </xs:sequence>
    <xs:attribute name="uuid" type="guidtype" use="required"/>
    <xs:attribute name="name" type="xs:string" default=""/>
  </xs:complexType>
  <xs:complexType name="Position">
    <xs:attribute name="uuid" type="guidtype" use="required"/>
    <xs:attribute name="name" type="xs:string" default=""/>
  </xs:complexType>
  <xs:complexType name="MappingDefinition">
    <xs:sequence>
      <xs:element name="SizeX" type="xs:integer"/>
      <xs:element name="SizeY" type="xs:integer"/>
      <xs:element name="Source" type="Source"/>
      <xs:element name="ScaleHandeling" type="ScaleHandeling" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="uuid" type="guidtype" use="required"/>
    <xs:attribute name="name" type="xs:string" default=""/>
  </xs:complexType>
  <xs:complexType name="Layers">
    <xs:sequence>
      <xs:element name="Layer" type="Layer" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Layer">
    <xs:sequence>
      <xs:element name="Matrix" type="matrixtype" minOccurs="0"/>
      <xs:element name="ChildList" type="ChildList"/>
    </xs:sequence>
    <xs:attribute name="uuid" type="guidtype" use="required"/>
    <xs:attribute name="name" type="xs:string" default=""/>
  </xs:complexType>
  <xs:complexType name="SceneObject">
    <xs:sequence>
      <xs:element name="Matrix" type="matrixtype" minOccurs="0"/>
      <xs:element name="Classing" type="guidtype" minOccurs="0"/>
      <xs:element name="Geometries" type="Geometries"/>
      <xs:element name="GDTFSpec" type="FileName" minOccurs="0"/>
      <xs:element name="GDTFMode" type="xs:string" minOccurs="0"/>
      <xs:element name="Addresses" type="Addresses" minOccurs="0"/>
      <xs:element name="Alignments" type="Alignments" minOccurs="0"/>
      <xs:element name="CustomCommands" type="CustomCommands" minOccurs="0"/>
      <xs:element name="Overwrites"  type="Overwrites" minOccurs="0"/>
      <xs:element name="Connections" type="Connections" minOccurs="0"/>
	  <xs:element name="FixtureID" type="xs:string"/>
	  <xs:element name="FixtureIDNumeric" type="positiveinteger"/>
	  <xs:element name="UnitNumber" type="positiveinteger" minOccurs="0"/>
	  <xs:element name="CustomId" type="xs:integer" minOccurs="0"/>      
	  <xs:element name="ChildList" type="ChildList"/>	  
    </xs:sequence>
    <xs:attribute name="uuid" type="guidtype" use="required"/>
    <xs:attribute name="name" type="xs:string" default=""/>
  </xs:complexType>
  <xs:complexType name="GroupObject">
    <xs:sequence>
      <xs:element name="Matrix" type="matrixtype" minOccurs="0"/>
      <xs:element name="Classing" type="guidtype" minOccurs="0"/>
      <xs:element name="ChildList" type="ChildList"/>
    </xs:sequence>
    <xs:attribute name="uuid" type="guidtype" use="required"/>
    <xs:attribute name="name" type="xs:string" default=""/>
  </xs:complexType>
  <xs:complexType name="FocusPoint">
    <xs:sequence>
      <xs:element name="Matrix" type="matrixtype" minOccurs="0"/>
      <xs:element name="Classing" type="guidtype" minOccurs="0"/>
      <xs:element name="Geometries" type="Geometries"/>
    </xs:sequence>
    <xs:attribute name="uuid" type="guidtype" use="required"/>
    <xs:attribute name="name" type="xs:string" default=""/>
  </xs:complexType>
  <xs:complexType name="Fixture">
    <xs:all>
      <xs:element name="Matrix" type="matrixtype" minOccurs="0"/>
      <xs:element name="Classing" type="guidtype" minOccurs="0"/>
      <xs:element name="GDTFSpec" type="FileName" minOccurs="0"/>
      <xs:element name="GDTFMode" type="xs:string" minOccurs="0"/>
      <xs:element name="Focus" type="guidtype" minOccurs="0" />
      <xs:element name="CastShadow" type="xs:boolean" minOccurs="0" />
	  <xs:element name="DMXInvertPan" type="xs:boolean" minOccurs="0" />
	  <xs:element name="DMXInvertTilt" type="xs:boolean" minOccurs="0" />
      <xs:element name="Position" type="guidtype" minOccurs="0" />      
      <xs:element name="Function" type="Function" minOccurs="0"/>
      <xs:element name="FixtureID" type="xs:string"/>
	  <xs:element name="FixtureIDNumeric" type="positiveinteger"/>	  
      <xs:element name="UnitNumber" type="positiveinteger"/>
	  <xs:element name="ChildPosition" type="xs:string" minOccurs="0"/>
      <xs:element name="Addresses" type="Addresses" minOccurs="0" />
	  <xs:element name="Protocols" type="Protocols" minOccurs="0" />
      <xs:element name="Alignments" type="Alignments" minOccurs="0"/>
      <xs:element name="CustomCommands" type="CustomCommands" minOccurs="0"/>
      <xs:element name="Overwrites" type="Overwrites" minOccurs="0"/>
      <xs:element name="Connections" type="Connections" minOccurs="0"/>
      <xs:element name="CIEColor" type="ciecolortype" minOccurs="0" />
      <xs:element name="CustomIdType" type="xs:integer" minOccurs="0" />
      <xs:element name="CustomId" type="xs:integer" minOccurs="0" />      
      <xs:element name="Mappings" type="Mappings" minOccurs="0" />
      <xs:element name="Gobo" type="Gobo" minOccurs="0" />
	  <xs:element name="ChildList" type="ChildList"/>
    </xs:all>
    <xs:attribute name="uuid" type="guidtype" use="required"/>
    <xs:attribute name="name" type="xs:string" default=""/>
	<xs:attribute name="multipatch" type="guidtype" default=""/>
  </xs:complexType>
  <xs:complexType name="Gobo">
    <xs:attribute name="rotation" type="xs:float" default="0"/>
  </xs:complexType>
  <xs:complexType name="Addresses">
    <xs:sequence>
      <xs:element name="Address" type="Address" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Address">
    <xs:simpleContent>
      <xs:extension base="xs:integer">
        <xs:attribute name="break" type="positiveinteger" default="0"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Alignments">
    <xs:sequence>
      <xs:element name="Alignment" type="Alignment" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Alignment">
      <xs:attribute name="geometry" type="xs:string"/>
          <xs:attribute name="up" type="xs:string" default="0,0,1"/>
          <xs:attribute name="direction" type="xs:string" default="0,0,-1"/>
      </xs:complexType>
  <xs:complexType name="Mappings">
    <xs:sequence>
      <xs:element name="Mapping" type="Mapping" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Mapping">
    <xs:sequence>
      <xs:element name="ux" type="xs:integer" minOccurs="0" maxOccurs="1"/>
      <xs:element name="uy" type="xs:integer" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ox" type="xs:integer" minOccurs="0" maxOccurs="1"/>
      <xs:element name="oy" type="xs:integer" minOccurs="0" maxOccurs="1"/>
      <xs:element name="rz" type="xs:float" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="linkedDef" type="guidtype" use="required"/>
  </xs:complexType>
  <xs:complexType name="Truss">
    <xs:sequence>
      <xs:element name="Matrix" type="matrixtype" minOccurs="0"/>
	  <xs:element name="Classing" type="guidtype" minOccurs="0"/>
      <xs:element name="Position" type="guidtype" minOccurs="0"/>	  
      <xs:element name="Geometries" type="Geometries"/>
	  <xs:element name="Function" type="Function" minOccurs="0"/>
      <xs:element name="GDTFSpec" type="FileName" minOccurs="0" />
      <xs:element name="GDTFMode" type="xs:string" minOccurs="0"/>			  	  
	  <xs:element name="Addresses" type="Addresses" minOccurs="0" />
	  <xs:element name="Alignments" type="Alignments" minOccurs="0"/>	  
      <xs:element name="CustomCommands" type="CustomCommands" minOccurs="0"/>
      <xs:element name="Overwrites" type="Overwrites" minOccurs="0"/>
	  <xs:element name="Connections" type="Connections" minOccurs="0"/>
	  <xs:element name="ChildPosition" type="xs:string" minOccurs="0"/>
  	  <xs:element name="ChildList" type="ChildList"/>
	  <xs:element name="FixtureID" type="xs:string"/>
	  <xs:element name="FixtureIDNumeric" type="positiveinteger"/>	  
      <xs:element name="UnitNumber" type="positiveinteger" minOccurs="0"/>
      <xs:element name="CustomIdType" type="xs:integer" minOccurs="0" />
      <xs:element name="CustomId" type="xs:integer" minOccurs="0" />	  
    </xs:sequence>
    <xs:attribute name="uuid" type="guidtype" use="required"/>
    <xs:attribute name="name" type="xs:string" default=""/>
	<xs:attribute name="multipatch" type="guidtype" default=""/>
  </xs:complexType>
  <xs:complexType name="VideoScreen">
    <xs:sequence>
      <xs:element name="Matrix" type="matrixtype" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Geometries" type="Geometries" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Sources" type="Sources" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="uuid" type="guidtype" use="required"/>
    <xs:attribute name="name" type="xs:string" default=""/>
  </xs:complexType>
  <xs:complexType name="Projector">
    <xs:sequence>
      <xs:element name="Matrix" type="matrixtype" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Geometries" type="Geometries" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Projections" type="Projections" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="uuid" type="guidtype" use="required"/>
    <xs:attribute name="name" type="xs:string" default=""/>
  </xs:complexType>
  <xs:complexType name="Projections">
    <xs:sequence>
      <xs:element name="Projection" type="Projection" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Projection">
    <xs:sequence>
      <xs:element name="Source" type="Source" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ScaleHandeling" type="ScaleHandeling" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Sources">
    <xs:sequence>
      <xs:element name="Source" type="Source" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Source">
    <xs:sequence>
      <xs:element name="linkedGeometry" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="type" type="SourceEnum" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="uuid" type="guidtype" use="required"/>
    <xs:attribute name="name" type="xs:string" default=""/>
  </xs:complexType>
  <xs:complexType name="ScaleHandeling">
    <xs:sequence>
      <xs:element name="Enum" type="scaleenum" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Geometries">
    <xs:sequence>
      <xs:element name="Geometry3D" type="Geometry3D" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Symbol" type="Symbol" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Symbol">
    <xs:sequence>
      <xs:element name="Matrix" type="matrixtype" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="uuid" type="guidtype" use="required"/>
    <xs:attribute name="name" type="xs:string" default=""/>
  </xs:complexType>
  <xs:complexType name="Geometry3D">
    <xs:sequence>
      <xs:element name="Matrix" type="matrixtype" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="fileName" type="FileName" use="required"/>
  </xs:complexType>
  <xs:complexType name="ChildList">
    <xs:sequence>
      <xs:sequence>
        <xs:element name="SceneObject" type="SceneObject" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="GroupObject" type="GroupObject" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="FocusPoint" type="FocusPoint" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="Fixture" type="Fixture" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="Support" type="Support" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="Truss" type="Truss" minOccurs="0" maxOccurs="unbounded"/>        
		<xs:element name="VideoScreen" type="VideoScreen" minOccurs="0" maxOccurs="unbounded"/>		
		<xs:element name="Projector" type="Projector" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:sequence>
  </xs:complexType>
  <!-- Custom types -->
  <xs:simpleType name="FileName">
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="positivefloat">
    <xs:restriction base="xs:float">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="positiveinteger">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="hextype">
    <xs:restriction base="xs:string">
      <xs:pattern value="0x[0-9a-fA-F]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="physicaltype">
    <xs:restriction base="xs:float">
      <xs:minExclusive value="0"/>
      <xs:maxInclusive value="100"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="twoarray">
    <xs:restriction base="xs:string">
      <xs:pattern value="-?[0-9]+\.?[0-9]*,-?[0-9]+\.?[0-9]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="matrixtype">
    <xs:restriction base="xs:string">
      <xs:pattern value="(\{-?[0-9]+\.?[0-9]*(,-?[0-9]+\.?[0-9]*){2}\}){4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="rotationtype">
    <xs:restriction base="xs:string">
      <xs:pattern value="None|(\{-?[0-9]+\.?[0-9]*(,-?[0-9]+\.?[0-9]*){2}\}){3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="offsettype">
    <xs:restriction base="xs:string">
      <xs:pattern value="None|([0-9]*(,[0-9]+)*)"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dmxtype">
    <xs:restriction base="xs:string">
      <xs:pattern value="None|([0-9]+/[1-9][0-9]*s?)"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dmxaddresstype">
    <!-- DIN 15800:2020-07 also allows Universe.Address, which seems strange though. Which Universe would that even be?
    Therefore, this only matches Integers in the valid range. -->
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="512"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="nametype">
    <xs:restriction base="xs:string">
      <xs:pattern value="([a-zA-Z0-9#%()*+-/:;&lt;=&gt;@_` &quot;'])+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="featuretype">
    <xs:restriction base="xs:string">
      <!-- Two nametype strings, separated with a dot -->
      <xs:pattern value="([a-zA-Z0-9#%()*+-/:;&lt;=&gt;@_` &quot;'])+\.([a-zA-Z0-9#%()*+-/:;&lt;=&gt;@_` &quot;'])+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="nodetype">
    <xs:restriction base="xs:string">
      <!-- Arbitrary number of nametype strings, separated with a dot -->
      <xs:pattern value="([a-zA-Z0-9#%()*+-/:;&lt;=&gt;@_` &quot;'])+(\.([a-zA-Z0-9#%()*+-/:;&lt;=&gt;@_` &quot;'])+)*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dataversion">
    <xs:restriction base="xs:float">
      <!-- This matches two Uints, each in the range 0 to 255 (1 Byte), separated by a dot.
      Leading zeros and a plus sign are allowed for the first UInt, but not for the second one -->
      <xs:pattern value="((\+)?(0)*([0-9]{1}[0-9]{0,1}|[1]{1}[0-9]{0,2}|[2]{1}([0-4]{1}[0-9]{1}|[5]{1}[0-5]{1}))).(0+|([1-9]{1}[0-9]{0,1}|[1]{1}[0-9]{0,2}|[2]{1}([0-4]{1}[0-9]{1}|[5]{1}[0-5]{1})))"/>
      <!-- v1.1 is not backwards compatible to 1.0, so we can only accept 1.1, not 1.0 -->
      <xs:minInclusive value="1.1"/>
      <xs:maxInclusive value="1.1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="guidtype">
    <xs:restriction base="xs:string">
      <xs:pattern value="\s*|([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dmxbreaktype">
    <xs:restriction base="xs:string">
      <xs:pattern value="Overwrite|[0-9]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="YesNoEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Yes"/>
      <xs:enumeration value="No"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SourceEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NDI"/>
      <xs:enumeration value="File"/>
      <xs:enumeration value="CITP"/>
      <xs:enumeration value="CaptureDevice"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="scaleenum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ScaleKeepRatio"/>
      <xs:enumeration value="ScaleIgnoreRatio"/>
      <xs:enumeration value="KeepSizeCenter"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ciecolortype">
    <xs:restriction base="xs:string">
      <xs:pattern value="-?[0-9]+\.?[0-9]*(,-?[0-9]+\.?[0-9]*){2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Ipv4_Adress">
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-9]{1,3}\.){3}([0-9]{1,3})"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Ipv6_Adress">
    <xs:restriction base="xs:string">      
        <xs:pattern value="^[0-9a-f:]+$" /> <!-- There are a lot of notation styles so we better keep the pattern simple instead of being to restrictive. -->
    </xs:restriction>
  </xs:simpleType>  
  
</xs:schema>
