mvr.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- MVR (Root Element) -->
    <xs:element name="GeneralSceneDescription">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="0" name="UserData" type="UserData"/>
                <xs:element maxOccurs="1" minOccurs="1" name="Scene" type="Scene"/>
            </xs:sequence>
            <xs:attribute name="verMajor" type="xs:integer" use="required"/>
            <xs:attribute name="verMinor" type="xs:integer" use="required"/>
            <xs:attribute name="provider" type="xs:string" use="optional"/>
            <xs:attribute name="providerVersion" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>
    <!-- UserData -->
    <xs:complexType name="UserData">
        <xs:sequence maxOccurs="unbounded" minOccurs="0">
            <xs:element name="Data"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Data">
        <xs:attribute name="provider" type="xs:string" use="required"/>
        <xs:attribute default="1" name="ver" type="xs:string" use="optional"/>
    </xs:complexType>
    <!-- Scene -->
    <xs:complexType name="Scene">
        <xs:all>
             <xs:element name="Layers" type="Layers"/>
            <xs:element name="AUXData" type="AUXData"  minOccurs="0" maxOccurs="1"/>
        </xs:all>
    </xs:complexType>
    <!-- AUXDATA --> 
    <xs:complexType name="AUXData">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Symdef" type="Symdef"/>
            <xs:element name="Position" type="BasicUUIDNameAttribute"/>
            <xs:element name="MappingDefinition" type="MappingDefinition"/>
            <xs:element name="Class" type="BasicUUIDNameAttribute"/>
        </xs:choice>
    </xs:complexType>
    <!-- Symdef -->
    <xs:complexType name="Symdef">
        <xs:complexContent>
            <xs:extension base="BasicUUIDNameAttribute">
                <xs:sequence minOccurs="0" maxOccurs="1">
                    <xs:element name="ChildList" type="AUXChildList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AUXChildList">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Geometry3D" type="Geometry3D"/>
            <xs:element name="Symbol" type="Symbol"/>
        </xs:choice>
    </xs:complexType>
    <!-- MappingDefinition -->
    <xs:complexType name="MappingDefinition">
        <xs:complexContent>
            <xs:extension base="BasicUUIDNameAttribute">
                <xs:sequence maxOccurs="1">
                    <xs:element name="SizeX" type="xs:integer"/>
                    <xs:element name="SizeY" type="xs:integer"/>
                    <xs:element name="Source" type="Source"/>
                    <xs:element name="ScaleHandling" type="ScaleHandlingEnum"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- Layers -->
    <xs:complexType name="Layers">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
             <xs:element name="Layer" type="Layer"/>
         </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Layer">
        <xs:complexContent>
            <xs:extension base="BasicUUIDNameAttribute">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="Matrix" type="matrixtype"/>
                    <xs:element name="ChildList" type="ChildList"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ChildList">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="SceneObject" type="SceneObject"/>
            <xs:element name="GroupObject" type="GroupObject"/>
            <xs:element name="FocusPoints" type="FocusPoint"/>
            <xs:element name="Fixture" type="Fixture"/>
            <xs:element name="Support" type="Support"/>
            <xs:element name="Truss" type="Truss"/>
            <xs:element name="VideoScreen" type="VideoScreen"/>
            <xs:element name="Projector" type="Projector"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SceneObject">
        <xs:complexContent>
            <xs:extension base="BasicUUIDNameAttribute">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="BasicChildList"/>
                    <xs:element name="Geometries" type="Geometries"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="GroupObject">
        <xs:complexContent>
            <xs:extension base="BasicUUIDNameAttribute">
                <xs:sequence minOccurs="0" maxOccurs="1">
                    <xs:group ref="BasicChildList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="FocusPoint">
        <xs:complexContent>
            <xs:extension base="BasicUUIDNameAttribute">
                <xs:sequence minOccurs="0" maxOccurs="1">
                    <xs:element name="Matrix" type="matrixtype"/>
                    <xs:element name="Classing" type="guidtype"/>
                    <xs:element name="Geometries" type="Geometries"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Fixture">
        <xs:complexContent>
            <xs:extension base="BasicUUIDNameAttribute">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="BasicChildList"/>
                    <xs:element name="Focus" type="guidtype"/>
                    <xs:element name="DMXInvertPan" type="xs:boolean"/>
                    <xs:element name="DMXInvertTilt" type="xs:boolean"/>
                    <xs:element name="Position" type="guidtype"/>
                    <xs:element name="Function" type="xs:string"/>
                    <xs:element name="ChildPosition" type="xs:string"/>
                    <xs:element name="Protocols" type="Protocols"/>
                    <xs:element name="Color" type="colorcietype"/>
                    <xs:element name="Mappings" type="Mappings"/>
                    <xs:element name="Gobo" type="Gobo"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Truss">
        <xs:complexContent>
            <xs:extension base="BasicUUIDNameAttribute">
                <xs:sequence minOccurs="0" maxOccurs="1">
                    <xs:group ref="BasicChildList"/>
                    <xs:element name="Position" type="guidtype"/>
                    <xs:element name="Geometries" type="Geometries"/>
                    <xs:element name="Function" type="xs:string"/>
                    <xs:element name="ChildPosition" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Support">
        <xs:complexContent>
            <xs:extension base="BasicUUIDNameAttribute">
                <xs:sequence minOccurs="0" maxOccurs="1">
                    <xs:group ref="BasicChildList"/>
                    <xs:element name="Position" type="guidtype"/>
                    <xs:element name="Geometries" type="Geometries"/>
                    <xs:element name="Function" type="xs:string"/>
                    <xs:element name="ChainLength" type="xs:float"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="VideoScreen">
        <xs:complexContent>
            <xs:extension base="BasicUUIDNameAttribute">
                <xs:sequence minOccurs="0" maxOccurs="1">
                    <xs:element name="Geometries" type="Geometries"/>
                    <xs:element name="Sources" type="Sources"/>
                    <xs:element name="Function" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Projector">
        <xs:complexContent>
            <xs:extension base="BasicUUIDNameAttribute">
                <xs:sequence minOccurs="0" maxOccurs="1">
                    <xs:element name="Geometries" type="Geometries"/>
                    <xs:element name="Projections" type="Projections"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Gobo">
        <xs:attribute name="rotation" type="xs:float" use="optional"/>
    </xs:complexType>
    <xs:complexType name="Sources">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Source" type="Source"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Source">
         <xs:attribute name="linkedGeometry" type="xs:string" use="required"/>
         <xs:attribute name="type" type="SourcesTypeEnum" use="required"/>
    </xs:complexType>
    <xs:complexType name="Geometries">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Geometry3D" type="Geometry3D"/>
            <xs:element name="Symbol" type="Symbol"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Symbol">
        <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element name="Matrix" type="matrixtype"/>
        </xs:sequence>
        <xs:attribute name="symdef" type="guidtype" use="required"/>
        <xs:attribute name="uuid" type="guidtype" use="required"/>
    </xs:complexType>
    <xs:complexType name="Geometry3D">
        <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element name="Matrix" type="matrixtype"/>
        </xs:sequence>
        <xs:attribute name="fileName" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="Projections">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Projection" type="Projection"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Projection">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Source" type="Source"/>
            <xs:element name="ScaleHandling" type="ScaleHandlingEnum"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Addresses">
        <xs:sequence>
            <xs:element name="Address" type="Address" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="Network" type="Network" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Address">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="break" type="xs:integer" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="Network">
        <xs:attribute name="geometry" type="xs:string" use="required"/>
        <xs:attribute name="ipv4" type="ipv4" use="optional"/>
        <xs:attribute name="subnetmask" type="xs:string" use="optional"/>
        <xs:attribute name="ipv6" type="xs:string" use="optional"/>
        <xs:attribute name="dhcp" type="xs:boolean" use="optional" default="false"/>
        <xs:attribute name="hostname" type="xs:string" use="optional"/>
    </xs:complexType>
    <xs:complexType name="Protocols">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Protocol" type="Protocol"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Protocol">
        <xs:attribute name="geometry" type="xs:string" use="optional" default="NetworkInOut_1"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="type" type="xs:string" use="optional"/>
        <xs:attribute name="version" type="xs:string" use="optional"/>
        <xs:attribute name="transmission" type="ProtocolTransmissionEnum" use="optional"/>
    </xs:complexType>
    <xs:complexType name="Alignments">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Alignment" type="Alignment"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Alignment">
        <xs:attribute name="geometry" type="xs:string" use="optional"/>
        <xs:attribute name="up" type="xs:string" use="optional"/>
        <xs:attribute name="direction" type="xs:string" use="optional"/>
    </xs:complexType>
    <xs:complexType name="CustomCommands">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
             <xs:element name="CustomCommand" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Overwrites">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Overwrite" type="Overwrite"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Overwrite">
        <xs:attribute name="universal" type="xs:string" use="required"/>
        <xs:attribute name="target" type="xs:string" use="optional"/>
    </xs:complexType>
    <xs:complexType name="Connections">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Connection" type="Connection"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Connection">
        <xs:attribute name="own" type="xs:string" use="required"/>
        <xs:attribute name="other" type="xs:string" use="required"/>
        <xs:attribute name="toObject" type="guidtype" use="required"/>
    </xs:complexType>
     <xs:complexType name="Mappings">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Mapping" type="Mapping"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Mapping">
         <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element name="ux" type="xs:integer"/>
            <xs:element name="uy" type="xs:integer"/>
            <xs:element name="ox" type="xs:integer"/>
            <xs:element name="oy" type="xs:integer"/>
            <xs:element name="rz" type="xs:float"/>
        </xs:sequence>
        <xs:attribute name="linkDef" type="guidtype" use="required"/>
    </xs:complexType>
    <!-- Enums -->
    <xs:simpleType name="fuseRatingEnum">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="7"/>
            <xs:enumeration value="8"/>
            <xs:enumeration value="9"/>
            <xs:enumeration value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SourcesTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NDI"/>
            <xs:enumeration value="File"/>
            <xs:enumeration value="CITP"/>
            <xs:enumeration value="CaptureDevice"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ScaleHandlingEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ScaleKeepRatio"/>
            <xs:enumeration value="ScaleIgnoreRatio"/>
            <xs:enumeration value="KeepSizeCenter"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ProtocolTransmissionEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RDMNet"/>
            <xs:enumeration value="Art-Net"/>
            <xs:enumeration value="sACN"/>
            <xs:enumeration value="PosiStageNet"/>
            <xs:enumeration value="OpenSoundControl"/>
            <xs:enumeration value="CITP"/>
            <xs:enumeration value="NDI"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- Custom Types -->
    <xs:complexType name="BasicUUIDNameAttribute">
        <xs:attribute name="uuid" type="guidtype" use="required"/>
        <xs:attribute name="name" type="xs:string" use="optional" default=""/>
        <xs:attribute name="multipatch" type="guidtype" use="optional"/>
    </xs:complexType>
    <xs:group name="BasicChildList">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="Matrix" type="matrixtype"/>
                <xs:element name="Classing" type="guidtype"/>
                <xs:element name="GDTFSpec" type="xs:string"/>
                <xs:element name="GDTFMode" type="xs:string"/>
                <xs:element name="CastShadow" type="xs:boolean"/>
                <xs:element name="Addresses" type="Addresses"/>
                <xs:element name="Alignments" type="Alignments"/>
                <xs:element name="CustomCommands" type="CustomCommands"/>
                <xs:element name="Overwrites" type="Overwrites"/>
                <xs:element name="Connections" type="Connections"/>
                <xs:element name="FixtureID" type="xs:string"/>
                <xs:element name="FixtureIDNumeric" type="xs:integer"/>
                <xs:element name="UnitNumber" type="xs:integer"/>
                <xs:element name="CustomIdType" type="xs:integer"/>
                <xs:element name="CustomId" type="xs:integer"/>
                <xs:element name="ChildList" type="ChildList"/>
            </xs:choice>
        </xs:sequence>
    </xs:group>
    <xs:simpleType name="guidtype">
        <xs:restriction base="xs:string">
            <xs:pattern value="\s*|([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="matrixtype">
        <xs:restriction base="xs:string">
            <xs:pattern value="None|(\{-?[0-9]+\.?[0-9]*(,-?[0-9]+\.?[0-9]*){2}\}){4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="colorcietype">
        <xs:restriction base="xs:string">
            <xs:pattern value="None|-?[0-9]+(\.[0-9]+)?,-?[0-9]+(\.[0-9]+)?,-?[0-9]+(\.[0-9]+)?"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ipv4">
        <xs:restriction base="xs:string">
        </xs:restriction>
    </xs:simpleType>
</xs:schema>